html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 484px) {
  .container {
    margin: 0;
  }
}

#business-fv {
  background-image: url(../img/business.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;
}

@media screen and (max-width: 484px) {
  #business-fv {
    background-image: url(../img/business-sp.jpg);
    height: 304px;
    margin-top: 56px;
  }
}

#business-fv .container {
  padding-left: 135px;
  padding-top: 228px;
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 768px) {
  #business-fv .container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 484px) {
  #business-fv .container {
    padding-left: 15px;
    padding-top: 128px;
  }
}

#business-fv .container h4 {
  color: #359B87;
  padding-top: 7px;
}

@media screen and (max-width: 484px) {
  #business-fv .container h4 {
    font-size: 16px;
    line-height: 16px;
    padding-top: 0;
  }
}

#business-fv .container h5 {
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

@media screen and (max-width: 484px) {
  #business-fv .container h5 {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 40px;
  }
}

#business-page {
  background-color: #F3F3F3;
  padding-bottom: 5px;
}

@media screen and (max-width: 484px) {
  #business-page {
    background-color: #fff;
    padding-bottom: 0;
  }
}

#business-page .page-container {
  background-color: #fff;
  width: 90.3%;
  padding-top: 145px;
  position: relative;
  top: -65px;
}

@media screen and (max-width: 484px) {
  #business-page .page-container {
    top: -40px;
    width: 96.3%;
    padding-top: 116px;
  }
}

#business-page .page-container .list {
  position: absolute;
  top: 51px;
  left: 63px;
}

@media screen and (max-width: 484px) {
  #business-page .page-container .list {
    top: 18px;
    left: 14px;
  }
}

#business-page .page-container .list .home {
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
}

#business-page .page-container .list .next {
  font-size: 14px;
  font-weight: 500;
  color: #359B87;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: -.02em;
  display: inline;
}

#business-page .page-container .list .arrow {
  display: inline-block;
}

#business-page .page-container .list .arrow::after {
  content: "";
  background: url(../img/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8px;
  height: 10.7px;
  display: inline-block;
}

#business-page .page-container .scroll {
  position: absolute;
  top: 55px;
  right: 91px;
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  #business-page .page-container .scroll {
    display: none;
  }
}

#business-page .page-container .scroll::after {
  content: "";
  background: url(../img/arrow-d.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10.7px;
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -23px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#business-page .page-container .scroll:hover {
  color: #777777;
}

#business-page .page-container .scroll:hover::after {
  background: url(../img/arrow-d-g.png);
  top: 10px;
}

#business-page .business-box {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 2000px) {
  #business-page .business-box {
    width: 60%;
  }
}

@media screen and (max-width: 484px) {
  #business-page .business-box {
    width: 96%;
    margin: 0;
    margin-left: auto;
  }
}

#business-page .business-box .business-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
}

@media screen and (max-width: 768px) {
  #business-page .business-box .business-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 76px;
  }
}

#business-page .business-box .business-item .business-img {
  background-image: url(../img/business1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 555px;
  min-width: 350px;
  height: 343px;
  position: relative;
}

@media screen and (max-width: 689px) {
  #business-page .business-box .business-item .business-img {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item .business-img {
    width: 100%;
    max-width: 400px;
    height: 250px;
    min-width: 270px;
  }
}

@media screen and (max-width: 374px) {
  #business-page .business-box .business-item .business-img {
    height: 190px;
  }
}

#business-page .business-box .business-item .business-img::before {
  content: "";
  background-image: url(../img/icon-architecture.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: absolute;
  top: -33px;
  right: 36px;
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item .business-img::before {
    width: 40px;
    height: 40px;
    top: -20px;
    left: 18px;
  }
}

#business-page .business-box .business-item .business-text {
  padding-left: 59px;
}

@media screen and (max-width: 900px) {
  #business-page .business-box .business-item .business-text {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  #business-page .business-box .business-item .business-text {
    padding-left: 0;
  }
}

#business-page .business-box .business-item .business-text h4 {
  font-size: 16px;
  font-weight: 700;
  color: #359B87;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  font-family: 'Epilogue', sans-serif;
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item .business-text h4 {
    line-height: 16px;
    margin-bottom: 8px;
  }
}

#business-page .business-box .business-item .business-text h5 {
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  #business-page .business-box .business-item .business-text h5 {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item .business-text h5 {
    font-size: 24px;
    line-height: 24px;
  }
}

#business-page .business-box .business-item .business-text p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  width: 350px;
}

@media screen and (max-width: 900px) {
  #business-page .business-box .business-item .business-text p {
    width: auto;
  }
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item .business-text p {
    width: 100%;
  }
}

#business-page .business-box .business-item:nth-child(2) .business-img {
  background-image: url(../img/business2.jpg);
}

#business-page .business-box .business-item:nth-child(2) .business-img::before {
  background-image: url(../img/icon-civil.png);
}

#business-page .business-box .business-item:nth-child(3) .business-img {
  background-image: url(../img/business3.jpg);
}

#business-page .business-box .business-item:nth-child(3) .business-img::before {
  background-image: url(../img/icon-design.png);
}

#business-page .business-box .business-item:nth-child(4) {
  padding-bottom: 80px;
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item:nth-child(4) {
    padding-bottom: 57px;
  }
}

#business-page .business-box .business-item:nth-child(4) .business-img {
  background-image: url(../img/business4.jpg);
}

#business-page .business-box .business-item:nth-child(4) .business-img::before {
  background-image: url(../img/icon-remodeling.png);
}

#business-page .business-box .business-item:nth-child(4) .business-text h5 {
  padding-right: 10px;
}

#business-page .business-box .business-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  #business-page .business-box .business-item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#business-page .business-box .business-item:nth-child(even) .business-img::before {
  right: 0;
  left: 36px;
}

@media screen and (max-width: 484px) {
  #business-page .business-box .business-item:nth-child(even) .business-img::before {
    left: 18px;
  }
}

#business-page .business-box .business-item:nth-child(even) .business-text {
  padding-left: 0;
  padding-right: 60px;
}

@media screen and (max-width: 900px) {
  #business-page .business-box .business-item:nth-child(even) .business-text {
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  #business-page .business-box .business-item:nth-child(even) .business-text {
    padding-right: 0;
  }
}
/*# sourceMappingURL=business.css.map */