html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .container {
    width: auto;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 484px) {
  .container {
    margin: 0;
  }
}

#company-fv {
  background-image: url(../img/company.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;
}

@media screen and (max-width: 484px) {
  #company-fv {
    background-image: url(../img/company-sp.jpg);
    height: 304px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 374px) {
  #company-fv {
    background-size: contain;
  }
}

#company-fv .container {
  padding-left: 135px;
  padding-top: 228px;
}

@media screen and (max-width: 760px) {
  #company-fv .container {
    padding-left: 20px;
  }
}

@media screen and (max-width: 484px) {
  #company-fv .container {
    padding-left: 15px;
    padding-top: 128px;
  }
}

#company-fv .container h4 {
  color: #359B87;
  padding-top: 7px;
}

@media screen and (max-width: 484px) {
  #company-fv .container h4 {
    font-size: 16px;
    line-height: 16px;
    padding-top: 0;
  }
}

#company-fv .container h5 {
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

@media screen and (max-width: 484px) {
  #company-fv .container h5 {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 40px;
  }
}

#company-page {
  background-color: #F3F3F3;
  padding-bottom: 5px;
}

@media screen and (max-width: 484px) {
  #company-page {
    background-color: #fff;
    padding-bottom: 66px;
  }
}

#company-page .page-container {
  background-color: #fff;
  width: 90.3%;
  padding-top: 145px;
  padding-bottom: 80px;
  position: relative;
  top: -65px;
}

@media screen and (max-width: 484px) {
  #company-page .page-container {
    top: -40px;
    width: 96.3%;
    padding-top: 116px;
    padding-bottom: 0;
  }
}

#company-page .page-container .list {
  position: absolute;
  top: 51px;
  left: 63px;
}

@media screen and (max-width: 484px) {
  #company-page .page-container .list {
    top: 18px;
    left: 14px;
  }
}

#company-page .page-container .list .home {
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
}

#company-page .page-container .list .next {
  font-size: 14px;
  font-weight: 500;
  color: #359B87;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: -.02em;
  display: inline;
}

#company-page .page-container .list .arrow {
  display: inline-block;
}

#company-page .page-container .list .arrow::after {
  content: "";
  background: url(../img/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8px;
  height: 10.7px;
  display: inline-block;
}

#company-page .page-container .scroll {
  position: absolute;
  top: 55px;
  right: 91px;
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 760px) {
  #company-page .page-container .scroll {
    display: none;
  }
}

#company-page .page-container .scroll::after {
  content: "";
  background: url(../img/arrow-d.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10.7px;
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -23px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#company-page .page-container .scroll:hover {
  color: #777777;
}

#company-page .page-container .scroll:hover::after {
  background: url(../img/arrow-d-g.png);
  top: 10px;
}

#company-page .page-container .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1400px) {
  #company-page .page-container .message {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 11%;
  }
}

#company-page .page-container .message .president-img {
  background-color: #359B87;
  width: 350px;
  height: 216px;
  margin-left: 240px;
  margin-top: 27px;
  position: relative;
}

@media screen and (max-width: 1400px) {
  #company-page .page-container .message .president-img {
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .message .president-img {
    width: 300px;
    height: 185px;
  }
}

@media screen and (max-width: 484px) {
  #company-page .page-container .message .president-img {
    width: 345px;
    height: 212px;
  }
}

#company-page .page-container .message .president-img::after {
  content: "";
  position: absolute;
  background-image: url(../img/company-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 216px;
  top: 30px;
  left: 30px;
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .message .president-img::after {
    width: 300px;
    height: 185px;
    top: 16px;
    left: 16px;
  }
}

@media screen and (max-width: 484px) {
  #company-page .page-container .message .president-img::after {
    width: 345px;
    height: 212px;
  }
}

#company-page .page-container .message .president-name {
  margin-left: 270px;
  margin-top: 60px;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1400px) {
  #company-page .page-container .message .president-name {
    margin-left: 0;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .message .president-name {
    position: relative;
    top: 280px;
  }
}

@media screen and (max-width: 689px) {
  #company-page .page-container .message .president-name {
    top: 330px;
  }
}

@media screen and (max-width: 586px) {
  #company-page .page-container .message .president-name {
    top: 370px;
  }
}

@media screen and (max-width: 484px) {
  #company-page .page-container .message .president-name {
    top: 420px;
  }
}

#company-page .page-container .message .president-message {
  margin-left: 90px;
  margin-top: 57px;
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .message .president-message {
    margin-left: 40px;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .message .president-message {
    margin-left: 0;
    margin-top: 0;
  }
}

#company-page .page-container .message .president-message h5 {
  font-size: 20px;
  line-height: 36px;
}

#company-page .page-container .message .president-message p {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.5px;
  width: 350px;
  margin-top: -1px;
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .message .president-message p {
    width: 300px;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .message .president-message p {
    width: 500px;
  }
}

@media screen and (max-width: 689px) {
  #company-page .page-container .message .president-message p {
    width: 90%;
  }
}

#company-page .page-container .info {
  margin-top: 81px;
}

@media screen and (max-width: 760px) {
  #company-page .page-container .info {
    margin-top: 100px;
  }
}

@media screen and (max-width: 689px) {
  #company-page .page-container .info {
    margin-top: 130px;
  }
}

#company-page .page-container .info h4 {
  color: #359B87;
  text-align: center;
}

#company-page .page-container .info h5 {
  text-align: center;
  letter-spacing: 1.5px;
}

#company-page .page-container .info .kaisha {
  width: 60%;
  margin: 15px auto 0;
}

@media screen and (max-width: 1400px) {
  #company-page .page-container .info .kaisha {
    width: 75%;
  }
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .info .kaisha {
    width: 92%;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .info .kaisha {
    width: 75%;
  }
}

#company-page .page-container .info .kaisha tr {
  border-bottom: 1px #D1D3D4 solid;
}

@media screen and (max-width: 760px) {
  #company-page .page-container .info .kaisha tr {
    display: block;
  }
}

#company-page .page-container .info .kaisha th {
  text-align: start;
  padding: 24px 8px;
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .info .kaisha th {
    font-weight: 500;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .info .kaisha th {
    display: block;
    padding: 0;
    padding-left: 10px;
    padding-top: 10px;
  }
}

#company-page .page-container .info .kaisha td {
  padding-left: 95px;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1400px) {
  #company-page .page-container .info .kaisha td {
    padding-left: 40px;
  }
}

@media screen and (max-width: 1023px) {
  #company-page .page-container .info .kaisha td {
    font-size: 14px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 760px) {
  #company-page .page-container .info .kaisha td {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

#company-page .page-container .access {
  margin-top: 80px;
}

#company-page .page-container .access h4 {
  color: #359B87;
  text-align: center;
}

#company-page .page-container .access h5 {
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 60px;
}

#company-page .page-container .access iframe {
  width: 90%;
  height: 724px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 760px) {
  #company-page .page-container .access iframe {
    height: 500px;
  }
}
/*# sourceMappingURL=company.css.map */