@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .container {
    width: 92%;
  }
}

header {
  /*　ハンバーガーボタン　*/
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
  /*　ハンバーガーボタン　*/
}

header .header-container {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .logo {
  width: 283px;
  padding-top: 24px;
  padding-left: 135px;
}

header .header-container nav {
  padding-right: 140px;
  padding-top: 34px;
}

header .header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container ul li {
  padding-left: 50px;
}

header .header-container ul a {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
}

header .header-container ul a span {
  font-size: 12px;
  font-weight: 500;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  margin-bottom: 4px;
  letter-spacing: -0.01em;
}

header .hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 3em;
  top: 3em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  header .hamburger {
    display: none;
  }
}

header .hamburger span {
  display: block;
  position: absolute;
  width: 45px;
  height: 3px;
  left: 6px;
  background: #d9d9d9;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .hamburger span:nth-child(1) {
  top: 6px;
}

header .hamburger span:nth-child(2) {
  top: 22px;
}

header .hamburger span:nth-child(3) {
  top: 38px;
}

header .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .hamburger.active span:nth-child(2),
header .hamburger.active span:nth-child(3) {
  top: 16px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;
}

header nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

header nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: .4s all;
  transition: .4s all;
}

header nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

header nav.globalMenuSp ul li:hover {
  background: #ddd;
}

header nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  font-family: 'Epilogue', sans-serif;
  padding: 1em 0;
  text-decoration: none;
}

header nav.globalMenuSp.active {
  opacity: 100;
}

.page {
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  margin: 39px 50px 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1.5px;
  padding-top: 1px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page::after {
  content: '';
  margin-left: 11px;
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-g.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1px;
  position: absolute;
  top: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page:hover {
  color: #359B87;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.page:hover::after {
  position: absolute;
  top: 10px;
  right: -40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.recruit-name {
  position: relative;
  margin-left: 235px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
  background-color: #359B87;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 73px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.recruit-name::after {
  content: '';
  margin-left: 28px;
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-w.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.recruit-name:hover {
  background-color: #359B87;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.recruit-name:hover::after {
  position: absolute;
  top: 19px;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#fv {
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 555px;
  margin-top: 100px;
}

@media screen and (min-width: 1441px) {
  #fv {
    background-size: cover;
  }
}

#fv .container {
  padding-left: 135px;
  padding-top: 158px;
}

#fv h1 {
  line-height: 53px;
  letter-spacing: 1.5px;
  margin-bottom: 27px;
}

#fv h2 {
  line-height: 52px;
}

#news {
  padding-bottom: 36px;
}

#news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 292px;
  padding-top: 81px;
}

#news .container h4 {
  border-bottom: 1px solid;
  height: 39px;
  margin-right: 123px;
}

#news .container .news-box {
  padding-top: 5px;
}

#news .container .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(to right, #1F2833, #1F2833 5px, transparent 5px, transparent 8px);
  /* 幅2の線を作る */
  background-size: 8px 1px;
  /* グラデーションの幅・高さを指定 */
  background-position: left bottom;
  /* 背景の開始位置を指定 */
  background-repeat: repeat-x;
  /* 横向きにのみ繰り返す */
  padding-bottom: 30px;
  padding-right: 130px;
  padding-top: 30px;
}

#news .container .news-item:first-child {
  padding-top: 0;
}

#news .container .news-item .date {
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  margin-left: 6px;
}

#news .container .news-item .date::after {
  content: "TOPICS";
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  border: 1px solid;
  margin-left: 33px;
  margin-right: 49px;
  letter-spacing: -.02em;
  padding: 3px 2px 3px 1px;
}

#news .container .news-item .news-text {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
}

#about {
  position: relative;
  padding-bottom: 227px;
}

#about .midori {
  background-color: #359B87;
  width: 340px;
  height: 600px;
  position: absolute;
}

#about .machine {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 219px;
  left: 135px;
  width: 350px;
  height: 460px;
}

#about .message {
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -98px;
  left: 26px;
  width: 42%;
  height: 62%;
}

#about .okinawa {
  background-image: url(../img/okinawa.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 53px;
  width: 344px;
  height: 438px;
}

#about h4 {
  color: #359B87;
  padding-top: 72px;
  text-align: center;
}

#about h5 {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 60px;
}

#about h6 {
  font-size: 24px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 42px;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
  padding-left: 543px;
}

#about p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-left: 543px;
}

#business h4 {
  color: #359B87;
  padding-top: 7px;
  text-align: center;
}

#business h5 {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

#business .business-box {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (270px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 270px);
  grid-auto-rows: 280px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#business .business-box .business-item .business-img {
  background-image: url(../img/architecture.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 270px;
  height: 220px;
}

#business .business-box .business-item .icon {
  background-image: url(../img/icon-architecture.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: relative;
  top: -253px;
  left: 24px;
}

#business .business-box .business-item .business-name {
  position: relative;
  top: -90px;
  left: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
  background-color: #E38619;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 73px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#business .business-box .business-item .business-name span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  display: inline;
}

#business .business-box .business-item .business-name::after {
  content: '';
  margin-left: 24px;
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-w.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1px;
  position: absolute;
  top: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#business .business-box .business-item .business-name:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#business .business-box .business-item .business-name:hover::after {
  position: absolute;
  top: 19px;
  right: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#business .business-box .business-item:nth-child(2) .business-img {
  background-image: url(../img/civil.jpg);
}

#business .business-box .business-item:nth-child(2) .icon {
  background-image: url(../img/icon-civil.png);
}

#business .business-box .business-item:nth-child(2) .business-name {
  background-color: #4E9100;
}

#business .business-box .business-item:nth-child(3) .business-img {
  background-image: url(../img/design.jpg);
}

#business .business-box .business-item:nth-child(3) .icon {
  background-image: url(../img/icon-design.png);
}

#business .business-box .business-item:nth-child(3) .business-name {
  background-color: #5A5FBA;
}

#business .business-box .business-item:nth-child(4) .business-img {
  background-image: url(../img/remodeling.jpg);
}

#business .business-box .business-item:nth-child(4) .icon {
  background-image: url(../img/icon-remodeling.png);
}

#business .business-box .business-item:nth-child(4) .business-name {
  background-color: #876850;
  padding: 7px 66px 6px 22px;
}

#business .business-box .business-item:nth-child(4) .business-name::after {
  margin-left: 17px;
}

#recruit {
  background-image: url(../img/recruit.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 115px;
  margin-bottom: 80px;
  height: 520px;
}

@media screen and (min-width: 1441px) {
  #recruit {
    background-size: cover;
  }
}

#recruit h4 {
  color: #fff;
  padding-top: 61px;
  padding-left: 312px;
}

#recruit h5 {
  color: #fff;
  letter-spacing: 1.5px;
  padding-bottom: 232px;
  padding-left: 287px;
}

#works h4 {
  color: #359B87;
  text-align: center;
}

#works h5 {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 120px;
}

#works .works-box {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (555px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 555px);
  grid-auto-rows: 463px;
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#works .works-box .works-item {
  position: relative;
}

#works .works-box .works-item .works-img {
  background-image: url(../img/works1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 555px;
  height: 345px;
}

#works .works-box .works-item .works-icon {
  background-image: url(../img/icon-architecture.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: absolute;
  top: -33px;
  left: 36px;
}

#works .works-box .works-item .works-date {
  padding-top: 22px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
}

#works .works-box .works-item .works-text {
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  padding-top: 9px;
  padding-left: 60px;
}

#works .works-box .works-item .page {
  margin: 14px 61px 0 auto;
}

#works .works-box .works-item:nth-child(2) .works-img {
  background-image: url(../img/works2.jpg);
}

#works .works-box .works-item:nth-child(3) .works-img {
  background-image: url(../img/works3.jpg);
}

#works .works-box .works-item:nth-child(4) .works-img {
  background-image: url(../img/works4.jpg);
}

#works .works-box .works-item:nth-child(4) .works-icon {
  background-image: url(../img/icon-civil.png);
}

#works .recruit-name {
  margin: 80px auto 60px;
}

#contact {
  background-color: #359B87;
  height: 540px;
  position: relative;
}

#contact .container {
  background-color: #fff;
  width: 1000px;
  height: 360px;
  border-radius: 8px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .container .contact-text {
  padding-top: 88px;
  padding-left: 143px;
}

#contact .container .contact-text h4 {
  color: #359B87;
  text-align: center;
  line-height: 20px;
  margin-bottom: 11px;
  padding-right: 6px;
}

#contact .container .contact-text h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
  padding-right: 10px;
}

#contact .container .contact-text p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

#contact .container .call-number {
  padding-top: 85px;
  padding-left: 147px;
}

#contact .container .call-number p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-right: 9px;
  padding-bottom: 34px;
}

#contact .container .call-number .recruit-name {
  margin: 0 auto;
  border-radius: 40px;
  padding: 22px 100px;
}

#contact .container .call-number .recruit-name::after {
  top: 35px;
  margin-left: 50px;
}
/*# sourceMappingURL=construction.css.map */