$main-color: #1F2833;
$sub-color: #777777;
$section-color: #359B87;

// 共通
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: $main-color;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

// min-width
$breakpoint-up: (
  'xls': 'screen and (max-width: 376px)',
  'xxs': 'screen and (min-width: 485px)',
  'xs': 'screen and (min-width: 587px)',
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 965px)',
  'xl': 'screen and (min-width: 1441px)',
  'xxl': 'screen and (min-width: 1024px)',
  'xll': 'screen and (min-width: 1630px)',
  'aaa': 'screen and (min-width: 1830px)',

  ) !default;

// max-width
$breakpoint-down: (
  'xls': 'screen and (max-width: 374px)',
  'xx': 'screen and (max-width: 400px)',
  'x': 'screen and (max-width: 430px)',
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 689px)',
  'md': 'screen and (max-width: 768px)',
  'm': 'screen and (max-width: 900px)',
  'lg': 'screen and (max-width: 1023px)',
  'xl': 'screen and (max-width: 1230px)',
  'xxl': 'screen and (max-width: 1400px)',
  ) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin font($size: 18px, $weight: 500, $color: $main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: 'Noto Sans JP',
    sans-serif;
}

h1 {
  @include font(44px, 400
);
}

h2 {
  @include font(30px, 600);
  font-family: 'Epilogue',
    sans-serif;
  opacity: 0.6;
}

h3 {
  @include font(52px, 700);
  letter-spacing: -4px;
  font-family: 'Epilogue',
    sans-serif;
}

h4 {
  @include font(20px, 700);
  font-family: 'Epilogue',
    sans-serif;
  line-height: 36px;
}

h5 {
  @include font(30px, 700);
  line-height: 52px;
}

p {
  @include font(20px, 500);
}

.container {
  margin: 0 auto;

  @include mq-down {
    width: 92%;
  }
}


@mixin btn-a($width: 368px, $top: 80px) {
  width: $width;
  text-align: center;
  margin-top: $top;
}

@mixin btn-b($bg-color: #fff, $padding: 23px 40px, $h-gb-color: #333333, $h-color: #fff) {
  background-color: $bg-color;
  transition: .3s;
  padding: $padding;

  &:hover {
    background-color: $h-gb-color;
    color: $h-color;
    transition: .3s;
  }
}

@mixin img($url: url(), $bg-size: cover) {
  background-image: $url;
  background-size: $bg-size;
  background-repeat: no-repeat;
}

@mixin section-title($url: url(),
  $margin: 0 auto 80px auto,
  $title-position: center,
  $bg-position: center,
  $height: 200px) {
  background-image: $url;
  background-size: contain;
  background-position: $bg-position;
  background-repeat: no-repeat;
  margin: $margin;
  height: $height;
  display: flex;
  align-items: flex-end;
  justify-content: $title-position;
}

//各セクションの上下微調整

header {
  .header-color {
    width: 100%;
    background-color: #fff;
    position: fixed;
    height: 100px;
    z-index: 10;
    top: 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;

    @include mq-down() {
      display: none;
    }

    .logo {
      width: 283px;
      padding-top: 24px;
      padding-left: 135px;

      @include mq-down(xl) {
        width: 220px;
        padding-top: 33px;
        padding-left: 80px;
      }

      @include mq-down(lg) {
        width: 200px;
        padding-top: 33px;
        padding-left: 40px;
      }
    }

    .pc-nav {
      padding-right: 140px;
      padding-top: 34px;

      @include mq-down(xl) {
        padding-right: 70px;
      }

      @include mq-down(lg) {
        padding-right: 40px;
      }
    }

    ul {
      display: flex;

      li {
        padding-left: 50px;

        @include mq-down(xl) {
          padding-left: 30px;
        }

        @include mq-down(lg) {
          padding-left: 25px;
        }
      }

      a {
        span {
          @include font(12px, 500, $sub-color);
          font-family: 'Epilogue',
            sans-serif;
          margin-bottom: 4px;
          letter-spacing: -0.01em;
          transition: .3s;
        }

        text-align: center;
        @include font(16px, 500);
        letter-spacing: 1.5px;
        transition: .3s;



        @include mq-down(lg) {
          font-size: 14px;
        }

        &:hover {
          color: $section-color;

          span {
            color: $section-color;
          }
        }
      }


    }
  }

  .header-sp {
    width: 100%;
    height: 56px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;

    @include mq-up() {
      display: none;
    }

    .logo {
      position: fixed;
      width: 196px;
      top: 10px;
      left: 15px;
    }
  }

  /*　ハンバーガーボタン　*/
  .hamburger {
    display: block;
    position: fixed;
    z-index: 4;
    right: 15px;
    top: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;

    @include mq-up(xxl) {
      display: none;
    }
  }

  .hamburger span {
    display: block;
    position: absolute;
    width: 25px;
    height: 1px;
    left: 24px;
    background: $main-color;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    top: 15px;
  }

  .hamburger span:nth-child(2) {
    top: 23px;
  }

  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 23px;
    background: $main-color;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.active span:nth-child(2) {
    top: 16px;
    background: $main-color;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 3;
    top: 56px;
    left: 0;
    color: $main-color;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    visibility: hidden;

    ul {
      li {
        padding-left: 50px;

        @include mq-down(xl) {
          padding-left: 30px;
        }

        @include mq-down(lg) {
          padding-left: 25px;
        }
      }

      a {
        text-align: center;
        @include font(16px, 500);
        letter-spacing: 1.5px;
        transition: .5s;

        @include mq-down(lg) {
          font-size: 14px;
        }

        span {
          @include font(12px, 500, $sub-color);
          font-family: 'Epilogue',
            sans-serif;
          margin-bottom: 4px;
          letter-spacing: -0.01em;
          transition: .5s;
        }
      }

      h3 {
        font-size: 32px;
        padding-top: 10px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 48px;
        line-height: 24px;
      }
    }
  }

  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }

  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }

  nav.globalMenuSp ul li a {
    display: block;
    padding: 1.2em 0;
    text-decoration: none;
    transition: 0.5s;
  }

  nav.globalMenuSp ul li span {
    transition: 0.5s;
  }

  nav.globalMenuSp ul li a:hover {
    color: $section-color;

    span {
      color: $section-color;
    }
  }

  nav.globalMenuSp ul li a:active {
    color: $section-color;

    span {
      color: $section-color;
    }
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;

  }

  /*　ハンバーガーボタン　*/
}

.page {
  text-align: end;
  @include font(16px, 700, $sub-color);
  line-height: 28px;
  margin: 39px 50px 0 auto;
  width: fit-content;
  letter-spacing: 1.5px;
  padding-top: 1px;
  position: relative;
  transition: all .3s;

  &::after {
    content: '';
    margin-left: 11px;
    display: inline-block;
    width: 21px;
    height: 12px;
    background-image: url(../img/arrow-g.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 1px;
    position: absolute;
    top: 10px;
    right: -30px;
    transition: all .3s;
  }

  &:hover {
    color: $section-color;

    &::after {
      right: -42px;
    }
  }
}

.recruit-name {
  position: relative;
  margin-left: 235px;
  @include font(20px, 700, #fff);
  line-height: 36px;
  background-color: $section-color;
  border-radius: 25px;
  width: fit-content;
  padding: 7px 73px;
  transition: 1s;

  &::after {
    content: '';
    display: inline-block;
    width: 21px;
    height: 12px;
    background-image: url(../img/arrow-w.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 78%;
    top: 20px;
    transition: all .3s;
  }

  &:hover {
    background-color: #5DAF9F;

    &::after {
      //top: 19px;
      left: 82%;
    }
  }
}

#fv {
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;

  @include mq-down(xl) {
    background-size: contain;
    margin-bottom: -100px;
  }

  @include mq-down() {
    margin-bottom: -300px;
  }

  @include mq-down(xxs) {
    background-image: url(../img/sp-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    margin-top: 260px;
    margin-bottom: 0;
  }

  @include mq-down(xls) {
    background-size: contain;
  }

  .container {
    padding-left: 135px;
    padding-top: 158px;
    margin: 0 auto;
    max-width: 1440px;

    @include mq-down(xl) {
      padding-left: 80px;
      padding-top: 80px;
    }

    @include mq-down() {
      padding-left: 20px;
      padding-top: 20px;
    }

    @include mq-down(xxs) {
      position: absolute;
      top: 0;
      padding-left: 15px;
      padding-top: 96px;

    }
  }

  h1 {
    line-height: 53px;
    letter-spacing: 1.5px;
    margin-bottom: 27px;

    @include mq-down(xl) {
      font-size: 35px;
      line-height: 44px;
    }

    @include mq-down() {
      font-size: 32px;
      line-height: 35px;
    }

    @include mq-down(xxs) {
      @include font(32px, 400);
      margin-bottom: 24px;
      line-height: 39px;

    }
  }

  h2 {
    line-height: 52px;

    @include mq-down(xl) {
      font-size: 30px;
      line-height: 44px;
    }

    @include mq-down() {
      font-size: 25px;
      line-height: 35px;
    }

    @include mq-down(xxs) {
      line-height: 40.8px;
      @include font(24px, 600);
      font-family: 'Epilogue',
        sans-serif;
      opacity: 0.6;
    }
  }

}

#news {
  padding-bottom: 36px;

  .container {
    display: flex;
    padding-left: 292px;
    padding-top: 81px;
    max-width: 1440px;


    @include mq-down(xl) {
      padding-left: 100px;
    }

    @include mq-down(lg) {
      flex-direction: column;
      width: 80%;
      padding-left: 0;
    }

    @include mq-down(xxs) {
      padding-top: 60px;
      width: 95%;
    }

    h4 {
      border-bottom: 1px solid;
      height: 39px;
      margin-right: 123px;

      @include mq-down(lg) {
        margin: 0px auto 50px;
      }

      @include mq-down(xxs) {
        margin: 0px auto 34px;
      }
    }

    .news-box {
      padding-top: 5px;
    }

    .news-item {
      display: flex;
      background-image: linear-gradient(to right, $main-color, $main-color 5px, transparent 5px, transparent 8px);
      /* 幅2の線を作る */
      background-size: 8px 1px;
      /* グラデーションの幅・高さを指定 */
      background-position: left bottom;
      /* 背景の開始位置を指定 */
      background-repeat: repeat-x;
      /* 横向きにのみ繰り返す */
      padding-bottom: 30px;
      padding-right: 130px;
      padding-top: 30px;

      @include mq-down(xxs) {
        padding-bottom: 22px;
      }

      @include mq-down(sm) {
        display: block;
      }

      &:first-child {
        padding-top: 0;
      }

      @include mq-down(lg) {
        padding-right: 0;
      }

      .date {
        @include font(16px, 700);
        font-family: 'Epilogue',
          sans-serif;
        margin-left: 6px;

        @include mq-down(xxs) {
          font-size: 13px;
        }

        &::after {
          content: "TOPICS";
          @include font(14px, 500);
          font-family: 'Epilogue',
            sans-serif;
          border: 1px solid;
          margin-left: 33px;
          margin-right: 49px;
          letter-spacing: -.02em;
          padding: 3px 2px 3px 1px;
        }
      }

      .news-text {
        @include font(16px, 500);
        letter-spacing: 1.5px;

        @include mq-down(sm) {
          margin-top: 20px;
          margin-left: 6px;
        }

        @include mq-down(xxs) {
          font-size: 13px;
        }
      }
    }

    .page {
      @include mq-down(xxs) {
        margin: 23px 54px 0 auto;
      }
    }

  }

}

#about {
  position: relative;
  padding-bottom: 227px;
  margin: 0 auto;
  max-width: 1440px;

  @include mq-down() {
    padding-bottom: 0px;
  }

  .about-inner {
    width: 100%;

    @include mq-down() {
      margin: 0 auto;
      width: 92%;
    }

  }

  .midori {
    background-color: $section-color;
    width: 340px;
    height: 600px;
    position: absolute;

    @include mq-down(xl) {
      width: 225px;
      height: 300px;
    }

    @include mq-down() {
      width: 100%;
      height: 160px;
      margin-top: 160px;
      position: relative;
    }
  }

  .machine {
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 219px;
    left: 135px;
    width: 350px;
    height: 460px;

    @include mq-down(xl) {
      top: 120px;
      left: 70px;
      width: 225px;
      height: 345px;
    }

    @include mq-down() {
      width: 180px;
      height: 240px;
      top: -16px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .message {
    background-image: url(../img/message.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -98px;
    left: 26px;
    width: 42%;
    height: 62%;

    @include mq-down() {
      top: 520px;
      left: 36px;
      width: 80%;
      height: 20%;
    }

    @include mq-down(sm) {
      top: 530px;
    }

    @include mq-down(xs) {
      top: 590px;
    }

    @include mq-down(xx) {
      top: 610px;
    }
  }

  .okinawa {
    background-image: url(../img/okinawa.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 53px;
    width: 344px;
    height: 438px;

    @include mq-down(xl) {
      right: 120px;
    }

    @include mq-down() {
      top: 381px;
      right: 15px;
      width: 180px;
      height: 229px;
    }
  }

  h4 {
    color: $section-color;
    padding-top: 72px;
    text-align: center;

    @include mq-down(xl) {
      padding-top: 0px;
    }

    @include mq-down() {
      font-size: 16px;
      text-align: start;
      line-height: 16px;
      position: relative;
      top: -328px;
      padding-top: 72px;
    }
  }

  h5 {
    text-align: center;
    letter-spacing: 1.5px;
    padding-bottom: 60px;

    @include mq-down() {
      font-size: 24px;
      text-align: start;
      line-height: 20px;
      padding-bottom: 288px;
      position: relative;
      top: -317px;
    }
  }

  h6 {
    @include font(24px, 700);
    line-height: 42px;
    letter-spacing: 1.5px;
    padding-bottom: 40px;
    padding-left: 543px;

    @include mq-down(xl) {
      padding-left: 330px;
      width: 400px;
    }

    @include mq-down() {
      font-size: 20px;
      text-align: start;
      line-height: 30px;
      padding-left: 0;
      padding-right: 10px;
      position: relative;
      top: -299px;
      width: 100%;
    }

    @include mq-down(xxs) {
      font-size: 18px;
      padding-right: 0;
    }
  }

  p {
    @include font(16px);
    line-height: 28px;
    letter-spacing: 1.5px;
    padding-left: 543px;

    @include mq-down(xl) {
      padding-left: 330px;
    }

    @include mq-down() {
      padding-left: 0;
      position: relative;
      top: -316px;
      padding-right: 40px;
      margin-bottom: -110px;


    }

    @include mq-up(xs) {
      .yes-sp {
        display: none;
      }
    }

    @include mq-down(xs) {
      font-size: 15px;
      padding-right: 0;

      .not-sp {
        display: none;
      }
    }
  }
}

#business {
  h4 {
    color: $section-color;
    padding-top: 7px;
    text-align: center;

    @include mq-down(xxs) {
      font-size: 16px;
    }
  }

  h5 {
    text-align: center;
    letter-spacing: 1.5px;
    padding-bottom: 59px;

    @include mq-down(xxs) {
      font-size: 24px;
      line-height: 20px;
      padding-bottom: 67px;
    }
  }

  .business-box {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-auto-rows: 280px;
    grid-gap: 30px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    @include mq-down(xxl) {
      max-width: 802px;
    }

    @include mq-down(sm) {
      grid-template-columns: repeat(auto-fit, 160px);
      grid-auto-rows: 200px;
      justify-content: center;
      width: 100%;
      max-width: 531px;
    }

    @include mq-down(xxs) {
      grid-template-columns: repeat(auto-fit, 132px);
      grid-auto-rows: 143px;
      justify-content: center;
    }

    .business-item {
      .business-img {
        background-image: url(../img/architecture.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 270px;
        height: 220px;

        @include mq-down(sm) {
          width: 160px;
          height: 130px;
        }

        @include mq-down(xxs) {
          width: 134px;
          height: 110px;
        }
      }

      .icon {
        background-image: url(../img/icon-architecture.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 66px;
        height: 66px;
        position: relative;
        top: -253px;
        left: 24px;

        @include mq-down(sm) {
          width: 40px;
          height: 40px;
          top: -148px;
          left: 17px;
        }

        @include mq-down(xxs) {
          width: 30px;
          height: 30px;
          top: -124px;
          left: 9px;
        }
      }

      .business-name {
        position: relative;
        top: -90px;
        left: 25px;
        @include font(20px, 700, #fff);
        line-height: 36px;
        background-color: #E38619;
        border-radius: 25px;
        width: fit-content;
        padding: 7px 73px;
        transition: all 0.3s ease;

        @include mq-down(sm) {
          top: -59px;
          left: 17px;
          font-size: 16px;
          padding: 1px 32px;
        }

        @include mq-down(xxs) {
          top: -47px;
          left: 12px;
          font-size: 14px;
          line-height: 27px;
          background-color: #E38619;
          border-radius: 25px;
          padding: 1px 27px;
        }

        span {
          @include font(16px, 500, #fff);
          line-height: 28px;
          letter-spacing: 1.5px;
          display: inline;

          @include mq-down(sm) {
            font-size: 13px;
          }
        }

        &::after {
          content: '';
          margin-left: 24px;
          display: inline-block;
          width: 21px;
          height: 12px;
          background-image: url(../img/arrow-w.png);
          background-size: contain;
          background-repeat: no-repeat;
          padding-top: 1px;
          position: absolute;
          top: 20px;
          right: 30px;
          transition: all 0.3s ease;

          @include mq-down(sm) {
            width: 17px;
            height: 10px;
            top: 16px;
            right: 14px;
          }

          @include mq-down(xxs) {
            width: 15px;
            height: 12px;
            top: 12px;
            right: 12px;
          }
        }

        &:hover {
          background-color: #E99E47;

          &::after {
            position: absolute;
            top: 20px;
            right: 20px;

            @include mq-down(sm) {
              top: 12px;
              right: 10px;
            }

            @include mq-down(xxs) {
              top: 12px;
              right: 8px;
            }
          }
        }
      }
    }

    .business-item:nth-child(2) {
      .business-img {
        background-image: url(../img/civil.jpg);
      }

      .icon {
        background-image: url(../img/icon-civil.png);
      }

      .business-name {
        background-color: #4E9100;

        &:hover {
          background-color: #71A733;
        }
      }
    }

    .business-item:nth-child(3) {
      .business-img {
        background-image: url(../img/design.jpg);
      }

      .icon {
        background-image: url(../img/icon-design.png);
      }

      .business-name {
        background-color: #5A5FBA;

        &:hover {
          background-color: #7B7FC8;
        }
      }
    }

    .business-item:nth-child(4) {
      .business-img {
        background-image: url(../img/remodeling.jpg);
      }

      .icon {
        background-image: url(../img/icon-remodeling.png);
      }

      .business-name {
        background-color: #876850;
        padding: 7px 66px 6px 22px;

        @include mq-down(xxs) {
          padding: 1px 28px 1px 10px;
          font-size: 12px;
          left: 8px;
        }

        span {
          @include mq-down(xxs) {
            font-size: 10px;
          }
        }

        &:hover {
          background-color: #9F8673;
        }

        &::after {
          margin-left: 17px;
        }
      }
    }
  }
}

#recruit {
  background-image: url(../img/recruit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 115px;
  margin-bottom: 80px;
  height: 520px;

  @include mq-up(xll) {
    background-image: url(../img/recruit-l.jpg);
  }

  @include mq-down(xl) {
    background-position: top;
  }

  @include mq-down(m) {
    background-image: url(../img/recruit-i.jpg);
    background-size: contain;
    height: 630px;
  }

  @include mq-down(md) {
    background-size: cover;
    height: 520px;
  }

  @include mq-down(xxs) {
    background-image: url(../img/recruit-m.jpg);
    //background-position: right;
    margin-top: 45px;
    margin-bottom: 50px;
    background-size: contain;
    height: 680px;
  }

  @include mq-down(x) {
    margin-top: 45px;
    margin-bottom: 50px;
    height: 600px;
  }

  @include mq-down(xx) {
    //margin-top: 45px;
    //margin-bottom: 50px;
  }

  @include mq-down(xls) {
    background-size: cover;
    height: 520px;
    margin-bottom: 60px;
  }

  .container {
    position: relative;
  }

  .recruit-t {
    position: absolute;
    left: 24%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    @include mq-up(xll) {
      left: 33%;
    }

    @include mq-down(xxs) {
      left: 50%;
    }
  }

  h4 {
    color: #fff;
    padding-top: 60px;
    text-align: center;

    @include mq-up(xll) {
      padding-top: 40px;
    }

    @include mq-down(lg) {
      //padding-top: 2%;
      //padding-left: 20%;
      //line-height: 20px;
    }

    @include mq-down() {
      //padding-top: 2%;
      //padding-left: 20%;
      //line-height: 20px;
    }

    @include mq-down(xxs) {
      margin-left: 0;
      font-size: 16px;
      text-align: center;
      padding-top: 50px;
      line-height: 36px;
    }
  }

  h5 {
    color: #fff;
    letter-spacing: 1.5px;
    padding-bottom: 232px;

    @include mq-down(xxl) {
      //padding-bottom: 15%;
      //padding-left: 18%;
    }

    @include mq-down(xxs) {
      margin-left: 0;
      font-size: 24px;
      text-align: center;
      line-height: 20px;
      padding-bottom: 232px;
    }
  }

  .recruit-name {
    position: absolute;
    top: 380px;
    left: 24%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    margin-left: 0;

    @include mq-up(xll) {
      left: 33%;
    }

    @include mq-down(xxs) {
      left: 50%;
      top: 460px;
    }

    @include mq-down(x) {
      top: 410px;
    }

    @include mq-down(xx) {
      top: 390px;
    }

    @include mq-down(xls) {
      top: 380px;
    }

  }
}

#works {
  h4 {
    color: $section-color;
    text-align: center;

    @include mq-down(xxs) {
      font-size: 16px;
    }
  }

  h5 {
    text-align: center;
    letter-spacing: 1.5px;
    padding-bottom: 120px;

    @include mq-down(xxs) {
      font-size: 24px;
      line-height: 20px;
      padding-bottom: 54px;
    }

    @include mq-down(xls) {
      padding-bottom: 40px;
    }
  }

  .works-box {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, 555px);
    grid-auto-rows: 463px;
    grid-gap: 60px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1297px;

    @include mq-down(xxl) {
      grid-template-columns: repeat(auto-fit, 300px);
      grid-auto-rows: 280px;
      grid-gap: 70px;
      max-width: 700px;
    }

    @include mq-down() {
      grid-template-columns: repeat(auto-fit, 250px);
      grid-auto-rows: 200px;
      column-gap: 40px;
      row-gap: 60px;
      width: 100%;
    }



    @include mq-down(xs) {
      grid-template-columns: repeat(auto-fit, 160px);
      grid-auto-rows: 187px;
      grid-column-gap: 25px;
      grid-row-gap: 43px;
      max-width: 520px;
    }

    @include mq-down(xls) {
      grid-template-columns: repeat(auto-fit, 134px);
      grid-auto-rows: 170px;
      grid-row-gap: 0px;
    }

    .works-item {
      position: relative;

      .works-img {
        background-image: url(../img/works1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 555px;
        height: 345px;

        @include mq-down(xxl) {
          width: 300px;
          height: 187px;
        }

        @include mq-down() {
          width: 250px;
          height: 160px;
        }

        @include mq-down(xs) {
          width: 160px;
          height: 99.5px;
        }

        @include mq-down(xls) {
          width: 134px;
          height: 91px;
        }
      }

      .works-icon {
        background-image: url(../img/icon-architecture.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 66px;
        height: 66px;
        position: absolute;
        top: -33px;
        left: 36px;

        @include mq-down(xxl) {
          width: 50px;
          height: 50px;
          top: -25px;
          left: 25px;
        }

        @include mq-down(xs) {
          width: 40px;
          height: 40px;
          top: -20px;
          left: 8px;
        }

        @include mq-down(xls) {
          width: 30px;
          height: 30px;
          top: -15px;
          left: 8px;
        }
      }

      .works-date {
        padding-top: 22px;
        padding-left: 60px;
        @include font(16px, 700);
        font-family: 'Epilogue',
          sans-serif;

        @include mq-down(xxl) {
          font-size: 14px;
          padding-top: 10px;
          padding-left: 0;
        }

        @include mq-down(xs) {
          font-size: 14px;
          line-height: 40px;
          padding-top: 0;
          padding-left: 0;
          font-weight: 500;
        }

        @include mq-down(xls) {
          font-size: 12px;
          line-height: 12px;
        }

      }

      .works-text {
        @include font(16px, 700);
        line-height: 28px;
        padding-top: 9px;
        padding-left: 60px;

        @include mq-down(xxl) {
          font-size: 15px;
          padding-top: 0;
          padding-left: 0;
          font-weight: 500;
        }

        @include mq-down() {
          font-size: 13px;
        }

        @include mq-down(xs) {
          font-size: 14px;
          line-height: 24px;
          padding-top: 0;
          padding-left: 0;
          font-weight: 500;
          letter-spacing: 1.5px;
        }

        @include mq-down(xls) {
          font-size: 11px;
          line-height: 15px;
        }
      }

      .page {
        margin: 14px 61px 0 auto;

        @include mq-down(xxl) {
          margin: 0px 61px 0 auto;
        }

        @include mq-down() {
          display: none;
        }
      }

      .sp-w {
        transition: .5s;

        &:active {
          opacity: 0.5;

          .works-date {
            color: rgba(31, 40, 51, 0.5);
          }

          .works-text {
            color: rgba(31, 40, 51, 0.5);
          }
        }

        @include mq-up() {
          pointer-events: none;
        }

      }
    }

    .works-item:nth-child(2) {
      .works-img {
        background-image: url(../img/works2.jpg);
      }
    }

    .works-item:nth-child(3) {
      .works-img {
        background-image: url(../img/works3.jpg);
      }

      @include mq-down(xs) {
        .works-text {
          width: 155px;
        }
      }

      @include mq-down(xls) {
        .works-text {
          width: 134px;
        }
      }
    }

    .works-item:nth-child(4) {
      .works-img {
        background-image: url(../img/works4.jpg);
      }

      .works-icon {
        background-image: url(../img/icon-civil.png);
      }
    }
  }

  .recruit-name {
    margin: 80px auto 60px;

    @include mq-down(xs) {
      margin: 42px auto 56px;
    }

    @include mq-down(xls) {
      margin: 0px auto 71px;
    }
  }
}

#contact {
  background-color: $section-color;
  height: 540px;
  position: relative;

  @include mq-down() {
    height: 508px;
  }

  .container {
    background-color: #fff;
    width: 1000px;
    height: 360px;
    border-radius: 8px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
    display: flex;

    @include mq-down(xl) {
      justify-content: space-around;
      width: 85%;
    }

    @include mq-down() {
      flex-direction: column;
      width: 92%;
      top: 263px;
      padding-bottom: 48px;
      justify-content: flex-start;
    }

    .contact-text {
      padding-top: 88px;
      padding-left: 143px;

      @include mq-down(xl) {
        padding-left: 0;
      }

      @include mq-down() {
        padding-top: 40px;

      }

      h4 {
        color: $section-color;
        text-align: center;
        line-height: 20px;
        margin-bottom: 11px;
        padding-right: 6px;

        @include mq-down() {
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 7px;
        }
      }

      h5 {
        @include font(30px, 700);
        text-align: center;
        letter-spacing: 1.5px;
        padding-bottom: 40px;
        padding-right: 10px;

        @include mq-down() {
          font-size: 24px;
          line-height: 24px;
          padding-right: 0;
          padding-bottom: 24px;
        }
      }

      p {
        @include font(16px, 500);
        line-height: 28px;
        letter-spacing: 1.5px;

        @include mq-down() {
          font-size: 14px;
          line-height: 24px;
          text-align: center;
        }
      }
    }

    .call-number {
      padding-top: 85px;
      padding-left: 134px;

      @include mq-down(xl) {
        padding-left: 0;
      }

      @include mq-down() {
        padding-top: 0;

      }

      .numnum {
        padding-left: 18px;
        @include font(52px, 700);
        letter-spacing: -4px;
        font-family: 'Epilogue',
          sans-serif;

        @include mq-down(xl) {
          font-size: 40px;

        }

        @include mq-down() {
          font-size: 32px;
          line-height: 32px;
          text-align: center;
          margin-top: 39px;
          padding-left: 0;
          letter-spacing: -.05em;
        }
      }

      p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1.5px;
        padding-bottom: 34px;

        @include mq-down() {
          font-size: 14px;
          line-height: 24px;
        }
      }

      .recruit-name {
        margin: 0 auto;
        border-radius: 40px;
        padding: 22px 120px;

        @include mq-down(xl) {
          padding: 22px 70px;

        }

        @include mq-down() {
          padding: 22px 90px;
        }

        @include mq-down(xls) {
          padding: 22px 70px;
        }

        &::after {
          top: 35px;
          left: 65%;
          margin-left: 50px;
        }

        &:hover::after {
          left: 68%;
        }
      }
    }
  }
}

footer {
  background-color: $main-color;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    @include font(16px, 700, #fff);
    line-height: 28px;
    font-family: 'Epilogue',
      sans-serif;

    @include mq-down(xxs) {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -.02em;
    }

    @include mq-down(xls) {
      font-size: 10px;
      font-weight: 400;
    }
  }
}
