@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
  }
}

header {
  /*　ハンバーガーボタン　*/
  /* ナビ開いてる時のボタン */
  /* このクラスを、jQueryで付与・削除する */
  /*　ハンバーガーボタン　*/
}

header .header-color {
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: 100px;
  z-index: 10;
  top: 0;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  header .header-container {
    display: none;
  }
}

header .header-container .logo {
  width: 283px;
  padding-top: 24px;
  padding-left: 135px;
}

@media screen and (max-width: 1230px) {
  header .header-container .logo {
    width: 220px;
    padding-top: 33px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 1023px) {
  header .header-container .logo {
    width: 200px;
    padding-top: 33px;
    padding-left: 40px;
  }
}

header .header-container .pc-nav {
  padding-right: 140px;
  padding-top: 34px;
}

@media screen and (max-width: 1230px) {
  header .header-container .pc-nav {
    padding-right: 70px;
  }
}

@media screen and (max-width: 1023px) {
  header .header-container .pc-nav {
    padding-right: 40px;
  }
}

header .header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container ul li {
  padding-left: 50px;
}

@media screen and (max-width: 1230px) {
  header .header-container ul li {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1023px) {
  header .header-container ul li {
    padding-left: 25px;
  }
}

header .header-container ul a {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-container ul a span {
  font-size: 12px;
  font-weight: 500;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  margin-bottom: 4px;
  letter-spacing: -0.01em;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1023px) {
  header .header-container ul a {
    font-size: 14px;
  }
}

header .header-container ul a:hover {
  color: #359B87;
}

header .header-container ul a:hover span {
  color: #359B87;
}

header .header-sp {
  width: 100%;
  height: 56px;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
}

@media screen and (min-width: 769px) {
  header .header-sp {
    display: none;
  }
}

header .header-sp .logo {
  position: fixed;
  width: 196px;
  top: 10px;
  left: 15px;
}

header .hamburger {
  display: block;
  position: fixed;
  z-index: 4;
  right: 15px;
  top: 8px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  header .hamburger {
    display: none;
  }
}

header .hamburger span {
  display: block;
  position: absolute;
  width: 25px;
  height: 1px;
  left: 24px;
  background: #1F2833;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .hamburger span:nth-child(1) {
  top: 15px;
}

header .hamburger span:nth-child(2) {
  top: 23px;
}

header .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 23px;
  background: #1F2833;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .hamburger.active span:nth-child(2) {
  top: 16px;
  background: #1F2833;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header nav.globalMenuSp {
  position: fixed;
  z-index: 3;
  top: 56px;
  left: 0;
  color: #1F2833;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;
}

header nav.globalMenuSp ul li {
  padding-left: 50px;
}

@media screen and (max-width: 1230px) {
  header nav.globalMenuSp ul li {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1023px) {
  header nav.globalMenuSp ul li {
    padding-left: 25px;
  }
}

header nav.globalMenuSp ul a {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 1023px) {
  header nav.globalMenuSp ul a {
    font-size: 14px;
  }
}

header nav.globalMenuSp ul a span {
  font-size: 12px;
  font-weight: 500;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  margin-bottom: 4px;
  letter-spacing: -0.01em;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav.globalMenuSp ul h3 {
  font-size: 32px;
  padding-top: 10px;
}

header nav.globalMenuSp ul p {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 48px;
  line-height: 24px;
}

header nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

header nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: .4s all;
  transition: .4s all;
}

header nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

header nav.globalMenuSp ul li a {
  display: block;
  padding: 1.2em 0;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav.globalMenuSp ul li span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav.globalMenuSp ul li a:hover {
  color: #359B87;
}

header nav.globalMenuSp ul li a:hover span {
  color: #359B87;
}

header nav.globalMenuSp ul li a:active {
  color: #359B87;
}

header nav.globalMenuSp ul li a:active span {
  color: #359B87;
}

header nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
}

.page {
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  margin: 39px 50px 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 1.5px;
  padding-top: 1px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.page::after {
  content: '';
  margin-left: 11px;
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-g.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1px;
  position: absolute;
  top: 10px;
  right: -30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.page:hover {
  color: #359B87;
}

.page:hover::after {
  right: -42px;
}

.recruit-name {
  position: relative;
  margin-left: 235px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
  background-color: #359B87;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 73px;
  -webkit-transition: 1s;
  transition: 1s;
}

.recruit-name::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-w.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 78%;
  top: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.recruit-name:hover {
  background-color: #5DAF9F;
}

.recruit-name:hover::after {
  left: 82%;
}

#fv {
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;
}

@media screen and (max-width: 1230px) {
  #fv {
    background-size: contain;
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 768px) {
  #fv {
    margin-bottom: -300px;
  }
}

@media screen and (max-width: 484px) {
  #fv {
    background-image: url(../img/sp-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    margin-top: 260px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 374px) {
  #fv {
    background-size: contain;
  }
}

#fv .container {
  padding-left: 135px;
  padding-top: 158px;
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 1230px) {
  #fv .container {
    padding-left: 80px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  #fv .container {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 484px) {
  #fv .container {
    position: absolute;
    top: 0;
    padding-left: 15px;
    padding-top: 96px;
  }
}

#fv h1 {
  line-height: 53px;
  letter-spacing: 1.5px;
  margin-bottom: 27px;
}

@media screen and (max-width: 1230px) {
  #fv h1 {
    font-size: 35px;
    line-height: 44px;
  }
}

@media screen and (max-width: 768px) {
  #fv h1 {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 484px) {
  #fv h1 {
    font-size: 32px;
    font-weight: 400;
    color: #1F2833;
    font-family: 'Noto Sans JP', sans-serif;
    margin-bottom: 24px;
    line-height: 39px;
  }
}

#fv h2 {
  line-height: 52px;
}

@media screen and (max-width: 1230px) {
  #fv h2 {
    font-size: 30px;
    line-height: 44px;
  }
}

@media screen and (max-width: 768px) {
  #fv h2 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media screen and (max-width: 484px) {
  #fv h2 {
    line-height: 40.8px;
    font-size: 24px;
    font-weight: 600;
    color: #1F2833;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Epilogue', sans-serif;
    opacity: 0.6;
  }
}

#news {
  padding-bottom: 36px;
}

#news .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 292px;
  padding-top: 81px;
  max-width: 1440px;
}

@media screen and (max-width: 1230px) {
  #news .container {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1023px) {
  #news .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    padding-left: 0;
  }
}

@media screen and (max-width: 484px) {
  #news .container {
    padding-top: 60px;
    width: 95%;
  }
}

#news .container h4 {
  border-bottom: 1px solid;
  height: 39px;
  margin-right: 123px;
}

@media screen and (max-width: 1023px) {
  #news .container h4 {
    margin: 0px auto 50px;
  }
}

@media screen and (max-width: 484px) {
  #news .container h4 {
    margin: 0px auto 34px;
  }
}

#news .container .news-box {
  padding-top: 5px;
}

#news .container .news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(to right, #1F2833, #1F2833 5px, transparent 5px, transparent 8px);
  /* 幅2の線を作る */
  background-size: 8px 1px;
  /* グラデーションの幅・高さを指定 */
  background-position: left bottom;
  /* 背景の開始位置を指定 */
  background-repeat: repeat-x;
  /* 横向きにのみ繰り返す */
  padding-bottom: 30px;
  padding-right: 130px;
  padding-top: 30px;
}

@media screen and (max-width: 484px) {
  #news .container .news-item {
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 689px) {
  #news .container .news-item {
    display: block;
  }
}

#news .container .news-item:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1023px) {
  #news .container .news-item {
    padding-right: 0;
  }
}

#news .container .news-item .date {
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  margin-left: 6px;
}

@media screen and (max-width: 484px) {
  #news .container .news-item .date {
    font-size: 13px;
  }
}

#news .container .news-item .date::after {
  content: "TOPICS";
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  border: 1px solid;
  margin-left: 33px;
  margin-right: 49px;
  letter-spacing: -.02em;
  padding: 3px 2px 3px 1px;
}

#news .container .news-item .news-text {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 689px) {
  #news .container .news-item .news-text {
    margin-top: 20px;
    margin-left: 6px;
  }
}

@media screen and (max-width: 484px) {
  #news .container .news-item .news-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 484px) {
  #news .container .page {
    margin: 23px 54px 0 auto;
  }
}

#about {
  position: relative;
  padding-bottom: 227px;
  margin: 0 auto;
  max-width: 1440px;
}

@media screen and (max-width: 768px) {
  #about {
    padding-bottom: 0px;
  }
}

#about .about-inner {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #about .about-inner {
    margin: 0 auto;
    width: 92%;
  }
}

#about .midori {
  background-color: #359B87;
  width: 340px;
  height: 600px;
  position: absolute;
}

@media screen and (max-width: 1230px) {
  #about .midori {
    width: 225px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  #about .midori {
    width: 100%;
    height: 160px;
    margin-top: 160px;
    position: relative;
  }
}

#about .machine {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 219px;
  left: 135px;
  width: 350px;
  height: 460px;
}

@media screen and (max-width: 1230px) {
  #about .machine {
    top: 120px;
    left: 70px;
    width: 225px;
    height: 345px;
  }
}

@media screen and (max-width: 768px) {
  #about .machine {
    width: 180px;
    height: 240px;
    top: -16px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

#about .message {
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -98px;
  left: 26px;
  width: 42%;
  height: 62%;
}

@media screen and (max-width: 768px) {
  #about .message {
    top: 520px;
    left: 36px;
    width: 80%;
    height: 20%;
  }
}

@media screen and (max-width: 689px) {
  #about .message {
    top: 530px;
  }
}

@media screen and (max-width: 586px) {
  #about .message {
    top: 590px;
  }
}

@media screen and (max-width: 400px) {
  #about .message {
    top: 610px;
  }
}

#about .okinawa {
  background-image: url(../img/okinawa.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 53px;
  width: 344px;
  height: 438px;
}

@media screen and (max-width: 1230px) {
  #about .okinawa {
    right: 120px;
  }
}

@media screen and (max-width: 768px) {
  #about .okinawa {
    top: 381px;
    right: 15px;
    width: 180px;
    height: 229px;
  }
}

#about h4 {
  color: #359B87;
  padding-top: 72px;
  text-align: center;
}

@media screen and (max-width: 1230px) {
  #about h4 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  #about h4 {
    font-size: 16px;
    text-align: start;
    line-height: 16px;
    position: relative;
    top: -328px;
    padding-top: 72px;
  }
}

#about h5 {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  #about h5 {
    font-size: 24px;
    text-align: start;
    line-height: 20px;
    padding-bottom: 288px;
    position: relative;
    top: -317px;
  }
}

#about h6 {
  font-size: 24px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 42px;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
  padding-left: 543px;
}

@media screen and (max-width: 1230px) {
  #about h6 {
    padding-left: 330px;
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  #about h6 {
    font-size: 20px;
    text-align: start;
    line-height: 30px;
    padding-left: 0;
    padding-right: 10px;
    position: relative;
    top: -299px;
    width: 100%;
  }
}

@media screen and (max-width: 484px) {
  #about h6 {
    font-size: 18px;
    padding-right: 0;
  }
}

#about p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-left: 543px;
}

@media screen and (max-width: 1230px) {
  #about p {
    padding-left: 330px;
  }
}

@media screen and (max-width: 768px) {
  #about p {
    padding-left: 0;
    position: relative;
    top: -316px;
    padding-right: 40px;
    margin-bottom: -110px;
  }
}

@media screen and (min-width: 587px) {
  #about p .yes-sp {
    display: none;
  }
}

@media screen and (max-width: 586px) {
  #about p {
    font-size: 15px;
    padding-right: 0;
  }
  #about p .not-sp {
    display: none;
  }
}

#business h4 {
  color: #359B87;
  padding-top: 7px;
  text-align: center;
}

@media screen and (max-width: 484px) {
  #business h4 {
    font-size: 16px;
  }
}

#business h5 {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

@media screen and (max-width: 484px) {
  #business h5 {
    font-size: 24px;
    line-height: 20px;
    padding-bottom: 67px;
  }
}

#business .business-box {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (270px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 270px);
  grid-auto-rows: 280px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  #business .business-box {
    max-width: 802px;
    grid-gap: 40px;
  }
}

@media screen and (max-width: 718px) {
  #business .business-box {
    -ms-grid-columns: (264px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 264px);
    grid-gap: 30px;
  }
}

@media screen and (max-width: 689px) {
  #business .business-box {
    -ms-grid-columns: (245px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 245px);
    grid-auto-rows: 250px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 531px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box {
    -ms-grid-columns: (160px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 160px);
    grid-auto-rows: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box {
    -ms-grid-columns: (132px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 132px);
    grid-auto-rows: 143px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 374px) {
  #business .business-box {
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}

#business .business-box .business-item .business-img {
  background-image: url(../img/architecture.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 270px;
  height: 220px;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item .business-img {
    width: 250px;
    height: 203px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item .business-img {
    width: 160px;
    height: 130px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item .business-img {
    width: 134px;
    height: 110px;
  }
}

#business .business-box .business-item .icon {
  background-image: url(../img/icon-architecture.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: relative;
  top: -253px;
  left: 24px;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item .icon {
    width: 50px;
    height: 50px;
    top: -227px;
    left: 17px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item .icon {
    width: 40px;
    height: 40px;
    top: -148px;
    left: 17px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item .icon {
    width: 30px;
    height: 30px;
    top: -124px;
    left: 9px;
  }
}

#business .business-box .business-item .business-name {
  position: relative;
  top: -90px;
  left: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
  background-color: #E38619;
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 73px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item .business-name {
    top: -72px;
    left: 26px;
    padding: 4px 60px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item .business-name {
    top: -59px;
    left: 17px;
    font-size: 16px;
    padding: 1px 32px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item .business-name {
    top: -47px;
    left: 12px;
    font-size: 14px;
    line-height: 27px;
    background-color: #E38619;
    border-radius: 25px;
    padding: 1px 27px;
  }
}

#business .business-box .business-item .business-name span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  display: inline;
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item .business-name span {
    font-size: 13px;
  }
}

#business .business-box .business-item .business-name::after {
  content: '';
  margin-left: 24px;
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-w.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 1px;
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item .business-name::after {
    top: 18px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item .business-name::after {
    width: 17px;
    height: 10px;
    top: 16px;
    right: 14px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item .business-name::after {
    width: 15px;
    height: 12px;
    top: 12px;
    right: 12px;
  }
}

#business .business-box .business-item .business-name:hover {
  background-color: #E99E47;
}

#business .business-box .business-item .business-name:hover::after {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item .business-name:hover::after {
    top: 18px;
    right: 20px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item .business-name:hover::after {
    top: 16px;
    right: 10px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item .business-name:hover::after {
    top: 12px;
    right: 8px;
  }
}

#business .business-box .business-item:nth-child(2) .business-img {
  background-image: url(../img/civil.jpg);
}

#business .business-box .business-item:nth-child(2) .icon {
  background-image: url(../img/icon-civil.png);
}

#business .business-box .business-item:nth-child(2) .business-name {
  background-color: #4E9100;
}

#business .business-box .business-item:nth-child(2) .business-name:hover {
  background-color: #71A733;
}

#business .business-box .business-item:nth-child(3) .business-img {
  background-image: url(../img/design.jpg);
}

#business .business-box .business-item:nth-child(3) .icon {
  background-image: url(../img/icon-design.png);
}

#business .business-box .business-item:nth-child(3) .business-name {
  background-color: #5A5FBA;
}

#business .business-box .business-item:nth-child(3) .business-name:hover {
  background-color: #7B7FC8;
}

#business .business-box .business-item:nth-child(4) .business-img {
  background-image: url(../img/remodeling.jpg);
}

#business .business-box .business-item:nth-child(4) .icon {
  background-image: url(../img/icon-remodeling.png);
}

#business .business-box .business-item:nth-child(4) .business-name {
  background-color: #876850;
  padding: 7px 66px 6px 22px;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item:nth-child(4) .business-name {
    top: -76px;
    left: 15px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item:nth-child(4) .business-name {
    top: -60px;
    left: 9px;
    font-size: 14px;
    padding: 1px 34px 1px 10px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item:nth-child(4) .business-name {
    padding: 1px 28px 1px 10px;
    font-size: 12px;
    left: 8px;
    top: -47px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item:nth-child(4) .business-name span {
    font-size: 12px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item:nth-child(4) .business-name span {
    font-size: 10px;
  }
}

#business .business-box .business-item:nth-child(4) .business-name::after {
  margin-left: 17px;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item:nth-child(4) .business-name::after {
    top: 21px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item:nth-child(4) .business-name::after {
    top: 16px;
    right: 15px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item:nth-child(4) .business-name::after {
    top: 13px;
    right: 13px;
  }
}

#business .business-box .business-item:nth-child(4) .business-name:hover {
  background-color: #9F8673;
}

@media screen and (max-width: 689px) {
  #business .business-box .business-item:nth-child(4) .business-name:hover::after {
    right: 24px;
  }
}

@media screen and (max-width: 586px) {
  #business .business-box .business-item:nth-child(4) .business-name:hover::after {
    right: 12px;
  }
}

@media screen and (max-width: 484px) {
  #business .business-box .business-item:nth-child(4) .business-name:hover::after {
    right: 10px;
  }
}

#recruit {
  background-image: url(../img/recruit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 115px;
  margin-bottom: 80px;
  height: 520px;
}

@media screen and (min-width: 1630px) {
  #recruit {
    background-image: url(../img/recruit-l.jpg);
  }
}

@media screen and (max-width: 1230px) {
  #recruit {
    background-position: top;
  }
}

@media screen and (max-width: 900px) {
  #recruit {
    background-image: url(../img/recruit-i.jpg);
    background-size: contain;
    height: 630px;
  }
}

@media screen and (max-width: 768px) {
  #recruit {
    background-size: cover;
    height: 520px;
  }
}

@media screen and (max-width: 484px) {
  #recruit {
    background-image: url(../img/recruit-m.jpg);
    margin-top: 45px;
    margin-bottom: 50px;
    background-size: contain;
    height: 680px;
  }
}

@media screen and (max-width: 430px) {
  #recruit {
    margin-top: 45px;
    margin-bottom: 50px;
    height: 600px;
  }
}

@media screen and (max-width: 374px) {
  #recruit {
    background-size: cover;
    height: 520px;
    margin-bottom: 60px;
  }
}

#recruit .container {
  position: relative;
}

#recruit .recruit-t {
  position: absolute;
  left: 24%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

@media screen and (min-width: 1630px) {
  #recruit .recruit-t {
    left: 33%;
  }
}

@media screen and (max-width: 484px) {
  #recruit .recruit-t {
    left: 50%;
  }
}

#recruit h4 {
  color: #fff;
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 1630px) {
  #recruit h4 {
    padding-top: 40px;
  }
}

@media screen and (max-width: 484px) {
  #recruit h4 {
    margin-left: 0;
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
    line-height: 36px;
  }
}

#recruit h5 {
  color: #fff;
  letter-spacing: 1.5px;
  padding-bottom: 232px;
}

@media screen and (max-width: 484px) {
  #recruit h5 {
    margin-left: 0;
    font-size: 24px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 232px;
  }
}

#recruit .recruit-name {
  position: absolute;
  top: 380px;
  left: 24%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  margin-left: 0;
}

@media screen and (min-width: 1630px) {
  #recruit .recruit-name {
    left: 33%;
  }
}

@media screen and (max-width: 484px) {
  #recruit .recruit-name {
    left: 50%;
    top: 460px;
  }
}

@media screen and (max-width: 430px) {
  #recruit .recruit-name {
    top: 410px;
  }
}

@media screen and (max-width: 400px) {
  #recruit .recruit-name {
    top: 390px;
  }
}

@media screen and (max-width: 374px) {
  #recruit .recruit-name {
    top: 380px;
  }
}

#works h4 {
  color: #359B87;
  text-align: center;
}

@media screen and (max-width: 484px) {
  #works h4 {
    font-size: 16px;
  }
}

#works h5 {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 120px;
}

@media screen and (max-width: 484px) {
  #works h5 {
    font-size: 24px;
    line-height: 20px;
    padding-bottom: 54px;
  }
}

@media screen and (max-width: 374px) {
  #works h5 {
    padding-bottom: 40px;
  }
}

#works .works-box {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (555px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 555px);
  grid-auto-rows: 463px;
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1297px;
}

@media screen and (max-width: 1400px) {
  #works .works-box {
    -ms-grid-columns: (300px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 280px;
    grid-gap: 70px;
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  #works .works-box {
    -ms-grid-columns: (250px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 200px;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    row-gap: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 586px) {
  #works .works-box {
    -ms-grid-columns: (160px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 160px);
    grid-auto-rows: 187px;
    grid-column-gap: 25px;
    grid-row-gap: 43px;
    max-width: 520px;
  }
}

@media screen and (max-width: 374px) {
  #works .works-box {
    -ms-grid-columns: (134px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 134px);
    grid-auto-rows: 170px;
    grid-row-gap: 0px;
    grid-column-gap: 10px;
  }
}

#works .works-box .works-item {
  position: relative;
}

#works .works-box .works-item .works-img {
  background-image: url(../img/works1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 555px;
  height: 345px;
}

@media screen and (max-width: 1400px) {
  #works .works-box .works-item .works-img {
    width: 300px;
    height: 187px;
  }
}

@media screen and (max-width: 768px) {
  #works .works-box .works-item .works-img {
    width: 250px;
    height: 160px;
  }
}

@media screen and (max-width: 586px) {
  #works .works-box .works-item .works-img {
    width: 160px;
    height: 99.5px;
  }
}

@media screen and (max-width: 374px) {
  #works .works-box .works-item .works-img {
    width: 134px;
    height: 91px;
  }
}

#works .works-box .works-item .works-icon {
  background-image: url(../img/icon-architecture.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: absolute;
  top: -33px;
  left: 36px;
}

@media screen and (max-width: 1400px) {
  #works .works-box .works-item .works-icon {
    width: 50px;
    height: 50px;
    top: -25px;
    left: 25px;
  }
}

@media screen and (max-width: 586px) {
  #works .works-box .works-item .works-icon {
    width: 40px;
    height: 40px;
    top: -20px;
    left: 8px;
  }
}

@media screen and (max-width: 374px) {
  #works .works-box .works-item .works-icon {
    width: 30px;
    height: 30px;
    top: -15px;
    left: 8px;
  }
}

#works .works-box .works-item .works-date {
  padding-top: 22px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
}

@media screen and (max-width: 1400px) {
  #works .works-box .works-item .works-date {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 0;
  }
}

@media screen and (max-width: 586px) {
  #works .works-box .works-item .works-date {
    font-size: 14px;
    line-height: 40px;
    padding-top: 0;
    padding-left: 0;
    font-weight: 500;
  }
}

@media screen and (max-width: 374px) {
  #works .works-box .works-item .works-date {
    font-size: 12px;
    line-height: 12px;
  }
}

#works .works-box .works-item .works-text {
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  padding-top: 9px;
  padding-left: 60px;
}

@media screen and (max-width: 1400px) {
  #works .works-box .works-item .works-text {
    font-size: 15px;
    padding-top: 0;
    padding-left: 0;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  #works .works-box .works-item .works-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 586px) {
  #works .works-box .works-item .works-text {
    font-size: 14px;
    line-height: 24px;
    padding-top: 0;
    padding-left: 0;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 374px) {
  #works .works-box .works-item .works-text {
    font-size: 11px;
    line-height: 15px;
  }
}

#works .works-box .works-item .page {
  margin: 14px 61px 0 auto;
}

@media screen and (max-width: 1400px) {
  #works .works-box .works-item .page {
    margin: 0px 61px 0 auto;
  }
}

@media screen and (max-width: 768px) {
  #works .works-box .works-item .page {
    display: none;
  }
}

#works .works-box .works-item .sp-w {
  -webkit-transition: .5s;
  transition: .5s;
}

#works .works-box .works-item .sp-w:active {
  opacity: 0.5;
}

#works .works-box .works-item .sp-w:active .works-date {
  color: rgba(31, 40, 51, 0.5);
}

#works .works-box .works-item .sp-w:active .works-text {
  color: rgba(31, 40, 51, 0.5);
}

@media screen and (min-width: 769px) {
  #works .works-box .works-item .sp-w {
    pointer-events: none;
  }
}

#works .works-box .works-item:nth-child(2) .works-img {
  background-image: url(../img/works2.jpg);
}

#works .works-box .works-item:nth-child(3) .works-img {
  background-image: url(../img/works3.jpg);
}

@media screen and (max-width: 586px) {
  #works .works-box .works-item:nth-child(3) .works-text {
    width: 155px;
  }
}

@media screen and (max-width: 374px) {
  #works .works-box .works-item:nth-child(3) .works-text {
    width: 134px;
  }
}

#works .works-box .works-item:nth-child(4) .works-img {
  background-image: url(../img/works4.jpg);
}

#works .works-box .works-item:nth-child(4) .works-icon {
  background-image: url(../img/icon-civil.png);
}

#works .recruit-name {
  margin: 80px auto 60px;
}

@media screen and (max-width: 586px) {
  #works .recruit-name {
    margin: 42px auto 56px;
  }
}

@media screen and (max-width: 374px) {
  #works .recruit-name {
    margin: 0px auto 71px;
  }
}

#contact {
  background-color: #359B87;
  height: 540px;
  position: relative;
}

@media screen and (max-width: 768px) {
  #contact {
    height: 508px;
  }
}

#contact .container {
  background-color: #fff;
  width: 1000px;
  height: 360px;
  border-radius: 8px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1230px) {
  #contact .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  #contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 92%;
    top: 263px;
    padding-bottom: 48px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#contact .container .contact-text {
  padding-top: 88px;
  padding-left: 143px;
}

@media screen and (max-width: 1230px) {
  #contact .container .contact-text {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  #contact .container .contact-text {
    padding-top: 40px;
  }
}

#contact .container .contact-text h4 {
  color: #359B87;
  text-align: center;
  line-height: 20px;
  margin-bottom: 11px;
  padding-right: 6px;
}

@media screen and (max-width: 768px) {
  #contact .container .contact-text h4 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 7px;
  }
}

#contact .container .contact-text h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  #contact .container .contact-text h5 {
    font-size: 24px;
    line-height: 24px;
    padding-right: 0;
    padding-bottom: 24px;
  }
}

#contact .container .contact-text p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  #contact .container .contact-text p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

#contact .container .call-number {
  padding-top: 85px;
  padding-left: 134px;
}

@media screen and (max-width: 1230px) {
  #contact .container .call-number {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  #contact .container .call-number {
    padding-top: 0;
  }
}

#contact .container .call-number .numnum {
  padding-left: 18px;
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

@media screen and (max-width: 1230px) {
  #contact .container .call-number .numnum {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  #contact .container .call-number .numnum {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 39px;
    padding-left: 0;
    letter-spacing: -.05em;
  }
}

#contact .container .call-number p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-bottom: 34px;
}

@media screen and (max-width: 768px) {
  #contact .container .call-number p {
    font-size: 14px;
    line-height: 24px;
  }
}

#contact .container .call-number .recruit-name {
  margin: 0 auto;
  border-radius: 40px;
  padding: 22px 120px;
}

@media screen and (max-width: 1230px) {
  #contact .container .call-number .recruit-name {
    padding: 22px 70px;
  }
}

@media screen and (max-width: 768px) {
  #contact .container .call-number .recruit-name {
    padding: 22px 90px;
  }
}

@media screen and (max-width: 374px) {
  #contact .container .call-number .recruit-name {
    padding: 22px 70px;
  }
}

#contact .container .call-number .recruit-name::after {
  top: 35px;
  left: 65%;
  margin-left: 50px;
}

#contact .container .call-number .recruit-name:hover::after {
  left: 68%;
}

footer {
  background-color: #1F2833;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  font-family: 'Epilogue', sans-serif;
}

@media screen and (max-width: 484px) {
  footer p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -.02em;
  }
}

@media screen and (max-width: 374px) {
  footer p {
    font-size: 10px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=construction.css.map */