$main-color: #1F2833;
$sub-color: #777777;
$section-color: #359B87;

// 共通
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: $main-color;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

// min-width
$breakpoint-up: ('xls': 'screen and (max-width: 376px)',
  'xxs': 'screen and (min-width: 485px)',
  'xs': 'screen and (min-width: 587px)',
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 761px)',
  'lg': 'screen and (min-width: 965px)',
  'xl': 'screen and (min-width: 1441px)',
  'xxl': 'screen and (min-width: 1024px)',
) !default;

// max-width
$breakpoint-down: ('xls': 'screen and (max-width: 374px)',
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 689px)',
  'md': 'screen and (max-width: 760px)',
  'lg': 'screen and (max-width: 1023px)',
  'xl': 'screen and (max-width: 1230px)',
  'xxl': 'screen and (max-width: 1400px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin font($size: 18px, $weight: 500, $color: $main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  @include font(44px, 400);
}

h2 {
  @include font(30px, 600);
  font-family: 'Epilogue',
    sans-serif;
  opacity: 0.6;
}

h3 {
  @include font(52px, 700);
  letter-spacing: -4px;
  font-family: 'Epilogue',
    sans-serif;
}

h4 {
  @include font(20px, 700);
  font-family: 'Epilogue',
    sans-serif;
  line-height: 36px;
}

h5 {
  @include font(30px, 700);
  line-height: 52px;
}

p {
  @include font(20px, 500);
}

.container {
  margin: 0 auto;

  @include mq-down {
    width: 92%;
  }
}


@mixin btn-a($width:368px, $top:80px) {
  width: $width;
  text-align: center;
  margin-top: $top;
}

@mixin btn-b($bg-color:#fff, $padding:23px 40px, $h-gb-color:#333333, $h-color:#fff) {
  background-color: $bg-color;
  transition: .3s;
  padding: $padding;

  &:hover {
    background-color: $h-gb-color;
    color: $h-color;
    transition: .3s;
  }
}

@mixin img($url: url(), $bg-size: cover) {
  background-image: $url;
  background-size: $bg-size;
  background-repeat: no-repeat;
}

@mixin section-title($url: url(),
  $margin: 0 auto 80px auto,
  $title-position: center,
  $bg-position: center,
  $height: 200px) {
  background-image: $url;
  background-size: contain;
  background-position: $bg-position;
  background-repeat: no-repeat;
  margin: $margin;
  height: $height;
  display: flex;
  align-items: flex-end;
  justify-content: $title-position;
}

#contact-fv {
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;

  .container {
    padding-left: 135px;
    padding-top: 228px;

    h4 {
      color: $section-color;
      padding-top: 7px;
    }

    h5 {
      letter-spacing: 1.5px;
      padding-bottom: 59px
    }
  }


}


#contact-page {
  background-color: #F3F3F3;
  padding-bottom: 5px;

  .page-container {
    background-color: #fff;
    width: 90.3%;
    padding-top: 129px;
    padding-bottom: 60px;
    position: relative;
    top: -65px;

    .list {
      position: absolute;
      top: 51px;
      left: 63px;

      .home {
        @include font(14px, 500, $main-color);
        font-family: 'Epilogue',
          sans-serif;
        letter-spacing: .02em;
        display: inline;
      }

      .next {
        @include font(14px, 500, $section-color);
        font-family: 'Epilogue',
          sans-serif;
        letter-spacing: -.02em;
        display: inline;
      }

      .arrow {
        display: inline-block;

        &::after {
          content: "";
          background: url(../img/arrow.png);
          background-size: cover;
          background-repeat: no-repeat;
          width: 8px;
          height: 10.7px;
          display: inline-block;
        }
      }
    }

    .scroll {
      position: absolute;
      top: 55px;
      right: 91px;
      @include font(14px, 500, $main-color);
      font-family: 'Epilogue',
        sans-serif;
      letter-spacing: .02em;
      display: inline;
      transition: all .3s;

      &::after {
        content: "";
        background: url(../img/arrow-d.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 10.7px;
        height: 8px;
        display: inline-block;
        position: absolute;
        top: 2px;
        right: -23px;
        transition: all .3s;
      }

      &:hover {
        color: #777777;

        &::after {
          background: url(../img/arrow-d-g.png);
          top: 10px;
        }
      }
    }

    .tel {
      width: 760px;
      height: 240px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 160px auto 80px;
      border-radius: 8px;
      background-color: #F3F3F3;

      p {
        padding-left: 78px;
      }

      h3 {
        padding-right: 68px;
        padding-bottom: 7px;
        position: relative;

        &::after {
          content: "受付時間：平日9時〜17時";
          @include font(16px, 500);
          line-height: 28px;
          letter-spacing: 1.5px;
          position: absolute;
          display: block;
          padding-left: 60px;

        }
      }
    }

    form {
      width: 58.5%;
      margin: 0 auto;

      h4 {
        font-family: 'Noto Sans JP',
          sans-serif;
      }

      p {
        @include font(14px, 400);
        line-height: 24px;
        letter-spacing: 1.5px;
        margin-bottom: 40px;
      }

      span {
        display: inline-block;
      }

      label {
        @include font(16px, 500);
        line-height: 28px;
        letter-spacing: 1.5px;
      }

      .form-input {
        border: 2px solid #EEEEEE;
        border-radius: 6px;
        margin-bottom: 21px;
        height: 46px;
        flex: 1;
        width: 100%;
        max-width: 760px;
        background: #F3F3F3;
        @include font(16px, 500);
        letter-spacing: 1.5px;
        padding-left: 21px;

        &::placeholder {
          color: #D0D0D0;
        }
      }

      .form-textarea {
        border: 2px solid #EEEEEE;
        border-radius: 6px;
        margin-bottom: 24px;
        height: 180px;
        flex: 1;
        width: 100%;
        max-width: 760px;
        background: #F3F3F3;
        @include font(16px, 500);
        letter-spacing: 1.5px;
        padding-left: 21px;
        padding-top: 14px;

        &::placeholder {
          color: #D0D0D0;
        }
      }

      .any {
        border-radius: 2px;
        margin-right: 8px;
        width: 40px;
        display: inline-block;
        text-align: center;
        background: #777777;
        @include font(12px, 700, #fff);
        line-height: 20px;
        letter-spacing: 1.5px;
      }

      .mandatory {
        background: #FF6B6E;
      }



      input {
        display: block;
      }

      textarea {
        display: block;
      }

      .check-btn {
        display: block;
        background-color: #F3F3F3;
        padding: 20px 40px 20px 48px;
        border-radius: 8px;
        margin-bottom: 89px;

        .check {
          display: inline;
        }

        .agree {
          display: inline;
          margin-right: 10px;
        }

        .privacy-text {
          margin-top: 10px;
          margin-bottom: 0;
          @include font(14px, 400, #777777);
          line-height: 24px;
          letter-spacing: 1.5px;
        }

        .privacy {
          display: inline;
          color: #777777;

          span {
            position: relative;

            &::after {
              content: "";
              display: inline-block;
              width: 16px;
              height: 16px;
              background-image: url(../img/contact-icon.png);
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              right: 3px;
              bottom: 1px;
            }
          }

        }
      }





      .radio-btn {
        display: block;
        margin-top: 12px;
        margin-bottom: 30px;

        input[type=radio] {
          display: none;
        }

        .radio01 {
          box-sizing: border-box;
          cursor: pointer;
          display: inline-block;
          padding: 5px 30px;
          position: relative;
          width: auto;

          &:nth-child(2) {
            padding: 5px 47px 5px 30px;
          }

          &:nth-child(4) {
            padding: 5px 48px 5px 30px;
          }
        }


        .radio01::before {
          background: #fff;
          border: 2px solid $section-color;
          border-radius: 50%;
          content: '';
          display: block;
          height: 16px;
          left: -1px;
          margin-top: -8px;
          position: absolute;
          top: 47%;
          width: 16px;
        }

        .radio01::after {
          background: $section-color;
          border-radius: 50%;
          content: '';
          display: block;
          height: 10px;
          left: 4px;
          margin-top: -4px;
          opacity: 0;
          position: absolute;
          top: 50%;
          width: 10px;
        }

        input[type=radio]:checked+.radio01::after {
          opacity: 1;
        }

        input[type="radio"],
        input[type="checkbox"] {
          position: relative;
          top: 2px;
        }
      }

      button {
        @include font(20px, 700, #fff);
        line-height: 36px;
        background-color: $section-color;
        border-radius: 25px;
        border: 0;
        width: fit-content;
        padding: 7px 78px;
        transition: .5s;
        display: block;
        margin: 0 auto;

        &:hover {
          background-color: #5DAF9F;
        }
      }

    }
  }
}

#contact {
  background-color: $section-color;
  height: 540px;
  position: relative;

  .container {
    background-color: #fff;
    width: 1000px;
    height: 360px;
    border-radius: 8px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
    display: flex;

    .contact-text {
      padding-top: 88px;
      padding-left: 143px;

      h4 {
        color: $section-color;
        text-align: center;
        line-height: 20px;
        margin-bottom: 11px;
        padding-right: 6px
      }

      h5 {
        @include font(30px, 700);
        text-align: center;
        letter-spacing: 1.5px;
        padding-bottom: 40px;
        padding-right: 10px
      }

      p {
        @include font(16px, 500);
        line-height: 28px;
        letter-spacing: 1.5px;

      }
    }

    .call-number {
      padding-top: 85px;
      padding-left: 134px;

      h3 {
        padding-left: 18px;
      }

      p {
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1.5px;
        padding-bottom: 34px;
      }

      .recruit-name {
        margin: 0 auto;
        border-radius: 40px;
        padding: 22px 120px;

        &::after {
          top: 35px;
          left: 65%;
          margin-left: 50px;
        }

        &:hover::after {
          left: 68%;
        }
      }
    }
  }
}

footer {
  background-color: $main-color;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    @include font(16px, 700, #fff);
    line-height: 28px;
    font-family: 'Epilogue',
      sans-serif;
  }
}
