@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .container {
    width: 92%;
  }
}

#contact-fv {
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;
}

#contact-fv .container {
  padding-left: 135px;
  padding-top: 228px;
}

#contact-fv .container h4 {
  color: #359B87;
  padding-top: 7px;
}

#contact-fv .container h5 {
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

#contact-page {
  background-color: #F3F3F3;
  padding-bottom: 5px;
}

#contact-page .page-container {
  background-color: #fff;
  width: 90.3%;
  padding-top: 129px;
  padding-bottom: 60px;
  position: relative;
  top: -65px;
}

#contact-page .page-container .list {
  position: absolute;
  top: 51px;
  left: 63px;
}

#contact-page .page-container .list .home {
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
}

#contact-page .page-container .list .next {
  font-size: 14px;
  font-weight: 500;
  color: #359B87;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: -.02em;
  display: inline;
}

#contact-page .page-container .list .arrow {
  display: inline-block;
}

#contact-page .page-container .list .arrow::after {
  content: "";
  background: url(../img/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8px;
  height: 10.7px;
  display: inline-block;
}

#contact-page .page-container .scroll {
  position: absolute;
  top: 55px;
  right: 91px;
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#contact-page .page-container .scroll::after {
  content: "";
  background: url(../img/arrow-d.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10.7px;
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -23px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#contact-page .page-container .scroll:hover {
  color: #777777;
}

#contact-page .page-container .scroll:hover::after {
  background: url(../img/arrow-d-g.png);
  top: 10px;
}

#contact-page .page-container .tel {
  width: 760px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 160px auto 80px;
  border-radius: 8px;
  background-color: #F3F3F3;
}

#contact-page .page-container .tel p {
  padding-left: 78px;
}

#contact-page .page-container .tel h3 {
  padding-right: 68px;
  padding-bottom: 7px;
  position: relative;
}

#contact-page .page-container .tel h3::after {
  content: "受付時間：平日9時〜17時";
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  position: absolute;
  display: block;
  padding-left: 60px;
}

#contact-page .page-container form {
  width: 58.5%;
  margin: 0 auto;
}

#contact-page .page-container form h4 {
  font-family: 'Noto Sans JP', sans-serif;
}

#contact-page .page-container form p {
  font-size: 14px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

#contact-page .page-container form span {
  display: inline-block;
}

#contact-page .page-container form label {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

#contact-page .page-container form .name-2:focus {
  outline: solid 2px rgba(53, 155, 135, 0.8);
  -webkit-box-shadow: 1px 1px 10px rgba(53, 155, 135, 0.5);
          box-shadow: 1px 1px 10px rgba(53, 155, 135, 0.5);
}

#contact-page .page-container form .form-input {
  border: 2px solid #EEEEEE;
  border-radius: 6px;
  margin-bottom: 21px;
  height: 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 760px;
  background: #F3F3F3;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  padding-left: 21px;
}

#contact-page .page-container form .form-input::-webkit-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-input:-ms-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-input::-ms-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-input::placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-textarea {
  border: 2px solid #EEEEEE;
  border-radius: 6px;
  margin-bottom: 24px;
  height: 180px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 760px;
  background: #F3F3F3;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
  padding-left: 21px;
  padding-top: 14px;
}

#contact-page .page-container form .form-textarea::-webkit-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-textarea:-ms-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-textarea::-ms-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-textarea::placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .any {
  border-radius: 2px;
  margin-right: 8px;
  width: 40px;
  display: inline-block;
  text-align: center;
  background: #777777;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 20px;
  letter-spacing: 1.5px;
}

#contact-page .page-container form .mandatory {
  background: #FF6B6E;
}

#contact-page .page-container form input {
  display: block;
}

#contact-page .page-container form textarea {
  display: block;
}

#contact-page .page-container form .check-btn {
  display: block;
  background-color: #F3F3F3;
  padding: 13px 40px 20px 43px;
  border-radius: 8px;
  margin-bottom: 89px;
}

#contact-page .page-container form .check-btn input {
  display: inline;
  cursor: pointer;
}

#contact-page .page-container form .check-btn input[type=checkbox]:checked {
  display: none;
}

#contact-page .page-container form .check-btn input[type=checkbox]:checked + label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  padding: 5px 20px;
  position: relative;
  width: auto;
}

#contact-page .page-container form .check-btn input[type=checkbox]:checked + label::before {
  position: absolute;
  top: 50%;
  left: 4px;
  display: block;
  margin-top: -9px;
  width: 16px;
  height: 16px;
  content: '';
  background: #359B87;
  border-radius: 4px;
}

#contact-page .page-container form .check-btn input[type=checkbox]:checked + label::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
  display: block;
  height: 7px;
  left: 8px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 5px;
}

#contact-page .page-container form .check-btn .check {
  display: inline;
}

#contact-page .page-container form .check-btn .agree {
  display: inline;
  margin-right: 10px;
}

#contact-page .page-container form .check-btn .privacy-text {
  margin-top: 7px;
  margin-left: 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 24px;
  letter-spacing: 1.5px;
}

#contact-page .page-container form .check-btn .privacy {
  display: inline;
  color: #777777;
}

#contact-page .page-container form .check-btn .privacy span {
  position: relative;
}

#contact-page .page-container form .check-btn .privacy span::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/contact-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 3px;
  bottom: 1px;
}

#contact-page .page-container form .radio-btn {
  display: block;
  margin-top: 12px;
  margin-bottom: 30px;
}

#contact-page .page-container form .radio-btn input[type=radio] {
  display: none;
}

#contact-page .page-container form .radio-btn .radio01 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}

#contact-page .page-container form .radio-btn .radio01:nth-child(2) {
  padding: 5px 47px 5px 30px;
}

#contact-page .page-container form .radio-btn .radio01:nth-child(4) {
  padding: 5px 48px 5px 30px;
}

#contact-page .page-container form .radio-btn .radio01::before {
  background: #fff;
  border: 2px solid #359B87;
  border-radius: 50%;
  content: '';
  display: block;
  height: 16px;
  left: -1px;
  margin-top: -8px;
  position: absolute;
  top: 47%;
  width: 16px;
}

#contact-page .page-container form .radio-btn .radio01::after {
  background: #359B87;
  border-radius: 50%;
  content: '';
  display: block;
  height: 10px;
  left: 4px;
  margin-top: -4px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}

#contact-page .page-container form .radio-btn input[type=radio]:checked + .radio01::after {
  opacity: 1;
}

#contact-page .page-container form .radio-btn input[type="radio"],
#contact-page .page-container form .radio-btn input[type="checkbox"] {
  position: relative;
  top: 2px;
}

#contact-page .page-container form button {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
  background-color: #359B87;
  border-radius: 25px;
  border: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 78px;
  -webkit-transition: .5s;
  transition: .5s;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#contact-page .page-container form button:hover {
  background-color: #5DAF9F;
}
/*# sourceMappingURL=contact.css.map */