@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .container {
    width: 92%;
  }
}

#contact-fv {
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;
}

#contact-fv .container {
  padding-left: 135px;
  padding-top: 228px;
}

#contact-fv .container h4 {
  color: #359B87;
  padding-top: 7px;
}

#contact-fv .container h5 {
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

#contact-page {
  background-color: #F3F3F3;
  padding-bottom: 5px;
}

#contact-page .page-container {
  background-color: #fff;
  width: 90.3%;
  padding-top: 129px;
  padding-bottom: 65px;
  position: relative;
  top: -65px;
}

#contact-page .page-container .tel {
  width: 760px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 160px auto 80px;
  border-radius: 8px;
  background-color: #F3F3F3;
}

#contact-page .page-container .tel p {
  padding-left: 78px;
}

#contact-page .page-container .tel h3 {
  padding-right: 68px;
  padding-bottom: 7px;
  position: relative;
}

#contact-page .page-container .tel h3::after {
  content: "受付時間：平日9時〜17時";
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  position: absolute;
  display: block;
  padding-left: 60px;
}

#contact-page .page-container form {
  width: 58.5%;
  margin: 0 auto;
}

#contact-page .page-container form h4 {
  font-family: 'Noto Sans JP', sans-serif;
}

#contact-page .page-container form p {
  font-size: 14px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
}

#contact-page .page-container form span {
  display: inline-block;
}

#contact-page .page-container form label {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

#contact-page .page-container form .form-input {
  border: 2px solid #EEEEEE;
  border-radius: 6px;
  margin-bottom: 24px;
  height: 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: 760px;
  background: #F3F3F3;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.5px;
}

#contact-page .page-container form .form-input::-webkit-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-input:-ms-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-input::-ms-input-placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .form-input::placeholder {
  color: #D0D0D0;
}

#contact-page .page-container form .any {
  border-radius: 2px;
  margin-right: 8px;
  width: 40px;
  display: inline-block;
  text-align: center;
  background: #777777;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 20px;
  letter-spacing: 1.5px;
}

#contact-page .page-container form .mandatory {
  background: #FF6B6E;
}

#contact-page .page-container form input {
  display: block;
}

#contact-page .page-container form textarea {
  display: block;
}

#contact-page .page-container form .check-btn {
  display: block;
}

#contact-page .page-container form .check-btn .check {
  display: inline;
}

#contact-page .page-container form .check-btn .agree {
  display: inline;
}

#contact-page .page-container form .privacy {
  display: inline;
}

#contact-page .page-container form .privacy span {
  position: relative;
}

#contact-page .page-container form .privacy span::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/contact-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 3px;
}

#contact-page .page-container form .radio-btn {
  display: block;
}

#contact-page .page-container form .radio {
  display: inline;
}

#contact {
  background-color: #359B87;
  height: 540px;
  position: relative;
}

#contact .container {
  background-color: #fff;
  width: 1000px;
  height: 360px;
  border-radius: 8px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .container .contact-text {
  padding-top: 88px;
  padding-left: 143px;
}

#contact .container .contact-text h4 {
  color: #359B87;
  text-align: center;
  line-height: 20px;
  margin-bottom: 11px;
  padding-right: 6px;
}

#contact .container .contact-text h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
  padding-right: 10px;
}

#contact .container .contact-text p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

#contact .container .call-number {
  padding-top: 85px;
  padding-left: 134px;
}

#contact .container .call-number h3 {
  padding-left: 18px;
}

#contact .container .call-number p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-bottom: 34px;
}

#contact .container .call-number .recruit-name {
  margin: 0 auto;
  border-radius: 40px;
  padding: 22px 120px;
}

#contact .container .call-number .recruit-name::after {
  top: 35px;
  left: 65%;
  margin-left: 50px;
}

#contact .container .call-number .recruit-name:hover::after {
  left: 68%;
}

footer {
  background-color: #1F2833;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  font-family: 'Epilogue', sans-serif;
}
/*# sourceMappingURL=contact.css.map */