$main-color: #1F2833;
$sub-color: #777777;
$section-color: #359B87;

// 共通
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: $main-color;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

// min-width
$breakpoint-up: ('xls': 'screen and (max-width: 376px)',
  'xxs': 'screen and (min-width: 485px)',
  'xs': 'screen and (min-width: 587px)',
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 965px)',
  'xl': 'screen and (min-width: 1441px)',
  'xxl': 'screen and (min-width: 1024px)',
) !default;

// max-width
$breakpoint-down: ('xls': 'screen and (max-width: 374px)',
  'x': 'screen and (max-width: 430px)',
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 660px)',
  'm': 'screen and (max-width: 690px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1023px)',
  'xl': 'screen and (max-width: 1230px)',
  'xxl': 'screen and (max-width: 1400px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin font($size: 18px, $weight: 500, $color: $main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  @include font(44px, 400);
}

h2 {
  @include font(30px, 600);
  font-family: 'Epilogue',
    sans-serif;
  opacity: 0.6;
}

h3 {
  @include font(52px, 700);
  letter-spacing: -4px;
  font-family: 'Epilogue',
    sans-serif;
}

h4 {
  @include font(20px, 700);
  font-family: 'Epilogue',
    sans-serif;
  line-height: 36px;
}

h5 {
  @include font(30px, 700);
  line-height: 52px;
}

p {
  @include font(20px, 500);
}

.container {
  margin: 0 auto;

  @include mq-down {
    width: 92%;
  }

  @include mq-down(xxs) {
    margin: 0;
  }

}


@mixin btn-a($width:368px, $top:80px) {
  width: $width;
  text-align: center;
  margin-top: $top;
}

@mixin btn-b($bg-color:#fff, $padding:23px 40px, $h-gb-color:#333333, $h-color:#fff) {
  background-color: $bg-color;
  transition: .3s;
  padding: $padding;

  &:hover {
    background-color: $h-gb-color;
    color: $h-color;
    transition: .3s;
  }
}

@mixin img($url: url(), $bg-size: cover) {
  background-image: $url;
  background-size: $bg-size;
  background-repeat: no-repeat;
}

@mixin section-title($url: url(),
  $margin: 0 auto 80px auto,
  $title-position: center,
  $bg-position: center,
  $height: 200px) {
  background-image: $url;
  background-size: contain;
  background-position: $bg-position;
  background-repeat: no-repeat;
  margin: $margin;
  height: $height;
  display: flex;
  align-items: flex-end;
  justify-content: $title-position;
}

#recruit-fv {
  background-color: $section-color;
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 280px;
  position: relative;

  @include mq-down(xxs) {
    height: 320px;
    margin-top: 160px;
  }

  &::after {
    content: '';
    background: url(../img/recruit-main.jpg) no-repeat;
    background-size: cover;
    width: 1170px;
    height: 350px;
    position: absolute;
    top: -114px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);

    @include mq-down(xl) {
      width: 90%;
      background-position: center;
    }

    @include mq-down() {
      background: url(../img/recruit-min-m.jpg);
      background-position: right;
    }

    @include mq-down(xxs) {
      background: url(../img/recruit-sp-min.jpg) no-repeat;
      background-position: right;
      width: 92%;
      top: -60px;
      height: 180px;
    }
  }

  .container {
    padding-left: 175px;
    padding-top: 48px;
    position: absolute;
    z-index: 2;

    @include mq-up(xl) {
      padding-left: 30%;
    }

    @include mq-down(xl) {
      padding-left: 20%;
    }

    @include mq-down(lg) {
      padding-left: 10%;
      width: auto;
    }

    @include mq-down(m) {
      padding-left: 10%;
      padding-top: 0;
      margin-top: -110px;
    }

    @include mq-down(xxs) {
      padding-left: 121px;
      padding-top: 24px;
      margin-top: 0;
      width: auto;
    }

    @include mq-down(x) {
      padding-left: 80px;
    }

    @include mq-down(xls) {
      padding-left: 23px;
      padding-top: 35px;
    }

    h4 {
      color: $section-color;
      padding-top: 7px;

      @include mq-down(xxs) {
        font-size: 16px;
        line-height: 16px;
        padding-top: 0;
      }
    }

    h5 {
      letter-spacing: 1.5px;
      padding-bottom: 59px;

      @include mq-down(xxs) {
        font-size: 24px;
        padding-bottom: 0;
        line-height: 40px;
      }
    }
  }


}


#recruit-page {

  background-color: #fff;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/recruit-message.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 574px;
    height: 396px;
    top: 212px;
    left: 135px;

    @include mq-down(lg) {
      top: 427px;
      left: 74px;

    }

    @include mq-down() {
      width: 363px;
      height: 220px;
      top: 468px;
      left: 104px;
    }

    @include mq-down(sm) {
      top: 568px;
      left: 104px;
    }

    @include mq-down(xxs) {
      top: 656px;
      left: 14px;
    }

    @include mq-down(xls) {
      top: 700px;
      left: 7px;
      width: 280px;
      height: 180px;
    }
  }

  .page-container {
    background-color: #fff;
    width: 95.2%;
    padding-top: 185px;
    padding-bottom: 72px;
    position: relative;
    top: -245px;

    @include mq-down(xxs) {
      width: 96.2%;
      top: -160px;
      padding-top: 96px;
      padding-bottom: 246px;
    }

    .list {
      position: absolute;
      top: 51px;
      left: 63px;

      @include mq-down(xxs) {
        top: 18px;
        left: 14px;
      }

      .home {
        @include font(14px, 500, $main-color);
        font-family: 'Epilogue',
          sans-serif;
        letter-spacing: .02em;
        display: inline;
      }

      .next {
        @include font(14px, 500, $section-color);
        font-family: 'Epilogue',
          sans-serif;
        letter-spacing: -.02em;
        display: inline;
      }

      .arrow {
        display: inline-block;

        &::after {
          content: "";
          background: url(../img/arrow.png);
          background-size: cover;
          background-repeat: no-repeat;
          width: 8px;
          height: 10.7px;
          display: inline-block;
        }
      }
    }

    .scroll {
      position: absolute;
      top: 55px;
      right: 91px;
      @include font(14px, 500, $main-color);
      font-family: 'Epilogue',
        sans-serif;
      letter-spacing: .02em;
      display: inline;
      transition: all .3s;

      @include mq-down() {
        display: none;
      }

      &::after {
        content: "";
        background: url(../img/arrow-d.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 10.7px;
        height: 8px;
        display: inline-block;
        position: absolute;
        top: 2px;
        right: -23px;
        transition: all .3s;
      }

      &:hover {
        color: #777777;

        &::after {
          background: url(../img/arrow-d-g.png);
          top: 10px;
        }
      }
    }
  }

  .container {
    margin: 0;
  }

  .recruit-text-main {
    display: flex;
    padding-left: 175px;

    @include mq-down(xxl) {
      padding-left: 20%;
    }

    @include mq-down(lg) {
      padding-left: 0;
      flex-direction: column;
    }

    .first {
      color: $section-color;
      width: 270px;
      padding-right: 83px;

      @include mq-down(xxl) {
        width: 57%;
        padding-right: 34px;
        font-size: 20px;
        line-height: 30px;
      }

      @include mq-down(lg) {
        width: 70%;
        padding-right: 0px;
        padding-left: 100px;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 60px;
      }

      @include mq-down(xxs) {
        padding-bottom: 0px;
        padding-left: 15px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1.5px;
        width: 250px;
      }

      @include mq-down(xls) {
        font-size: 23px;
      }
    }

    .text-side {
      @include mq-down(xxs) {
        margin-top: 26px;
      }

      h5 {
        padding-bottom: 24px;

        @include mq-down(xxl) {
          font-size: 20px;
          line-height: 30px;
        }

        @include mq-down(lg) {
          font-size: 24px;
          line-height: 36px;
          padding-left: 100px;
        }

        @include mq-down(xxs) {
          letter-spacing: 1.5px;
          padding-left: 15px;
          padding-bottom: 26px;
        }

        @include mq-down(xls) {
          font-size: 20px;
        }
      }






      p {
        width: 753px;
        @include font(16px);
        line-height: 28px;
        letter-spacing: 1.5px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 15px;
        position: relative;
        z-index: 1;

        @include mq-down(xxl) {
          width: 70%;
          font-size: 15px;
          line-height: 25px;
        }

        @include mq-down(lg) {
          padding-left: 100px;
        }

        @include mq-down(xxs) {
          padding-left: 15px;
          line-height: 28px;
          font-size: 16px;
          padding-top: 6px;
          width: 343px;
          padding-bottom: 18px;
        }

        @include mq-down(xls) {
          width: 290px;
        }
      }



    }
  }

  .text-side-br {
    display: inline;

    @include mq-up() {
      &-br {
        display: none;
      }
    }
  }

  .text-side-pc {
    @include mq-down() {
      display: none;
    }
  }

  .recruit-text-sub {
    display: flex;
    padding-top: 125px;
    padding-bottom: 179px;
    position: relative;
    top: -245px;
    border-left: 8px $section-color solid;
    border-bottom: 8px $section-color solid;
    z-index: 1;

    @include mq-down(lg) {
      flex-direction: column;
      padding-bottom: 100px;
    }

    @include mq-down(xxs) {
      top: -244px;
      border-left: 6px $section-color solid;
      border-bottom: 10px $section-color solid;
      padding-top: 32px;
      padding-bottom: 123px;
    }

    .recruit-message {
      padding-left: 127px;

      @include mq-down(lg) {
        padding-left: 100px;
      }

      @include mq-down(xxs) {
        padding-left: 9px;
      }

      h5 {
        width: 474px;
        color: $section-color;
        padding-bottom: 46px;
        letter-spacing: 1.5px;

        @include mq-down(xxl) {
          font-size: 20px;
          line-height: 30px;
        }

        @include mq-down() {
          width: auto;
        }

        @include mq-down(xxs) {
          font-size: 24px;
          line-height: 36px;
          letter-spacing: 1.5px;
          padding-bottom: 33px;
          position: relative;
          z-index: 1;
        }

        @include mq-down(xls) {
          font-size: 21px;
        }

      }

      h4 {
        padding-bottom: 24px;
        @include font(24px, 700);
        line-height: 42px;
        letter-spacing: 1.5px;

        @include mq-down(xxl) {
          font-size: 20px;
          line-height: 30px;
        }

        @include mq-down(xxs) {
          padding-bottom: 32px;
        }
      }

      p {
        width: 546px;
        @include font(16px, 500);
        line-height: 28px;
        letter-spacing: 1.5px;

        @include mq-down(xxl) {
          width: 400px;
        }

        @include mq-down(xxs) {
          width: 340px;
        }

        @include mq-down(xls) {
          width: 290px;
        }
      }
    }

    .message-img {
      background-color: $section-color;
      width: 555px;
      height: 350px;
      margin-left: 109px;
      margin-top: 10px;
      position: relative;

      @include mq-down(xxl) {
        width: 345px;
        height: 217.5px;
        margin-left: 0;
      }

      @include mq-down(lg) {
        margin-left: 170px;
        margin-top: 100px;
      }

      @include mq-down(xxs) {
        top: 63px;
        right: -24px;
        margin-left: 0;
        margin-top: 0;
      }

      @include mq-down(xls) {
        top: 63px;
        right: -32px;
        width: 270px;
        height: 170px;
      }

      &::after {
        content: "";
        position: absolute;
        background-image: url(../img/recurit-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 555px;
        height: 350px;
        top: -40px;
        right: 40px;

        @include mq-down(xxl) {
          width: 345px;
          height: 217.5px;
        }

        @include mq-down(xxs) {
          top: -24px;
          right: 15px;
        }

        @include mq-down(xls) {
          top: -20px;
          right: 20px;
          width: 270px;
          height: 170px;
        }
      }
    }
  }

  .next-btn {
    display: flex;
    background-color: #F3F3F3;
    position: relative;
    top: -245px;
    margin-bottom: -245px;
    justify-content: space-evenly;
    border-bottom: 2px rgba(31, 40, 51, 0.16) solid;

    .next-name {
      position: relative;
      @include font(20px, 700, #777777);
      line-height: 36px;
      transition: 1s;

      @include mq-down(xxs) {
        font-size: 16px;
        line-height: 16px;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 21px;
        height: 12px;
        background-image: url(../img/arrow-gr.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 73%;
        top: 69px;
        transition: all .3s;

        @include mq-down(lg) {
          left: 76%;
          top: 44px;
        }

        @include mq-down(xxs) {
          left: 81%;
          top: 42px;
        }
      }



      &:hover {
        color: $main-color;

        &::after {
          left: 76%;
          background-image: url(../img/arrow-b.png);

          @include mq-down(lg) {
            left: 79%;
          }

          @include mq-down(xxs) {
            left: 84%;
          }
        }
      }
    }

    .next-company {
      position: relative;
      padding: 58px 180px 55px 209px;

      @include mq-down(lg) {
        padding: 30px 80px;
      }

      @include mq-down(xxs) {
        padding: 40px 40px 38px 20px;
      }

      &::before {
        content: "";
        position: absolute;
        /*絶対位置指定*/
        right: -88px;
        /*横位置の指定*/
        top: 25%;
        /*縦位置の指定*/
        background: rgba(31, 40, 51, 0.16);
        /*線の色指定*/
        width: 2px;
        /*線の幅指定*/
        height: 50%;

        /*線の高さ指定*/
        @include mq-down(xxs) {
          right: -28px;
          top: 11%;
          height: 80%;
        }

        @include mq-down(xxs) {
          right: -18px;
        }
      }
    }

    .next-contact {
      padding: 58px 180px 55px 180px;

      @include mq-down(lg) {
        padding: 30px 80px;
      }

      @include mq-down(xxs) {
        padding: 40px 33px 38px 13px;
      }
    }
  }

  .btn-bottom {
    background-color: #F3F3F3;
    height: 94px;

    @include mq-down(xxs) {
      height: 40px;
    }
  }
}
