@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
  }
}

@media screen and (max-width: 484px) {
  .container {
    margin: 0;
  }
}

#recruit-fv {
  background-color: #359B87;
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 280px;
  position: relative;
}

@media screen and (max-width: 484px) {
  #recruit-fv {
    height: 320px;
    margin-top: 160px;
  }
}

#recruit-fv::after {
  content: '';
  background: url(../img/recruit-main.jpg) no-repeat;
  background-size: cover;
  width: 1170px;
  height: 350px;
  position: absolute;
  top: -114px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

@media screen and (max-width: 1230px) {
  #recruit-fv::after {
    width: 90%;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  #recruit-fv::after {
    background: url(../img/recruit-min-m.jpg);
    background-position: right;
  }
}

@media screen and (max-width: 484px) {
  #recruit-fv::after {
    background: url(../img/recruit-sp-min.jpg) no-repeat;
    background-position: right;
    width: 92%;
    top: -60px;
    height: 180px;
  }
}

#recruit-fv .container {
  padding-left: 248px;
  padding-top: 48px;
  position: absolute;
  z-index: 2;
}

@media screen and (min-width: 1441px) {
  #recruit-fv .container {
    padding-left: 30%;
  }
}

@media screen and (max-width: 1230px) {
  #recruit-fv .container {
    padding-left: 20%;
  }
}

@media screen and (max-width: 1023px) {
  #recruit-fv .container {
    padding-left: 10%;
    width: auto;
  }
}

@media screen and (max-width: 484px) {
  #recruit-fv .container {
    padding-left: 47px;
    padding-top: 24px;
    width: auto;
  }
}

#recruit-fv .container h4 {
  color: #359B87;
  padding-top: 7px;
}

@media screen and (max-width: 484px) {
  #recruit-fv .container h4 {
    font-size: 16px;
    line-height: 16px;
    padding-top: 0;
  }
}

#recruit-fv .container h5 {
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

@media screen and (max-width: 484px) {
  #recruit-fv .container h5 {
    font-size: 24px;
    padding-bottom: 0;
    line-height: 40px;
  }
}

#recruit-page {
  background-color: #fff;
  position: relative;
}

#recruit-page::after {
  position: absolute;
  content: "";
  background-image: url(../img/recruit-message.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 574px;
  height: 396px;
  top: 212px;
  left: 135px;
}

@media screen and (max-width: 1023px) {
  #recruit-page::after {
    top: 427px;
    left: 74px;
  }
}

@media screen and (max-width: 768px) {
  #recruit-page::after {
    width: 363px;
    height: 220px;
    top: 468px;
    left: 104px;
  }
}

@media screen and (max-width: 660px) {
  #recruit-page::after {
    top: 568px;
    left: 104px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page::after {
    top: 656px;
    left: 14px;
  }
}

#recruit-page .page-container {
  background-color: #fff;
  width: 95.2%;
  padding-top: 185px;
  padding-bottom: 72px;
  position: relative;
  top: -245px;
}

@media screen and (max-width: 484px) {
  #recruit-page .page-container {
    width: 96.2%;
    top: -160px;
    padding-top: 96px;
    padding-bottom: 246px;
  }
}

#recruit-page .page-container .list {
  position: absolute;
  top: 51px;
  left: 63px;
}

@media screen and (max-width: 484px) {
  #recruit-page .page-container .list {
    top: 18px;
    left: 14px;
  }
}

#recruit-page .page-container .list .home {
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
}

#recruit-page .page-container .list .next {
  font-size: 14px;
  font-weight: 500;
  color: #359B87;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: -.02em;
  display: inline;
}

#recruit-page .page-container .list .arrow {
  display: inline-block;
}

#recruit-page .page-container .list .arrow::after {
  content: "";
  background: url(../img/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8px;
  height: 10.7px;
  display: inline-block;
}

#recruit-page .page-container .scroll {
  position: absolute;
  top: 55px;
  right: 91px;
  font-size: 14px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  letter-spacing: .02em;
  display: inline;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  #recruit-page .page-container .scroll {
    display: none;
  }
}

#recruit-page .page-container .scroll::after {
  content: "";
  background: url(../img/arrow-d.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10.7px;
  height: 8px;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -23px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#recruit-page .page-container .scroll:hover {
  color: #777777;
}

#recruit-page .page-container .scroll:hover::after {
  background: url(../img/arrow-d-g.png);
  top: 10px;
}

#recruit-page .container {
  margin: 0;
}

#recruit-page .recruit-text-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 175px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-main {
    padding-left: 20%;
  }
}

@media screen and (max-width: 1023px) {
  #recruit-page .recruit-text-main {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#recruit-page .recruit-text-main .first {
  color: #359B87;
  width: 270px;
  padding-right: 83px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-main .first {
    width: 57%;
    padding-right: 34px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1023px) {
  #recruit-page .recruit-text-main .first {
    width: 70%;
    padding-right: 0px;
    padding-left: 100px;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-main .first {
    padding-bottom: 0px;
    padding-left: 15px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.5px;
    width: 250px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-main .text-side {
    margin-top: 26px;
  }
}

#recruit-page .recruit-text-main .text-side h5 {
  padding-bottom: 24px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-main .text-side h5 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 1023px) {
  #recruit-page .recruit-text-main .text-side h5 {
    font-size: 24px;
    line-height: 36px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-main .text-side h5 {
    letter-spacing: 1.5px;
    padding-left: 15px;
    padding-bottom: 26px;
  }
}

#recruit-page .recruit-text-main .text-side p {
  width: 753px;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-main .text-side p {
    width: 70%;
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1023px) {
  #recruit-page .recruit-text-main .text-side p {
    padding-left: 100px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-main .text-side p {
    padding-left: 15px;
    line-height: 28px;
    font-size: 16px;
    padding-top: 6px;
    width: 343px;
    padding-bottom: 18px;
  }
}

#recruit-page .text-side-br {
  display: inline;
}

@media screen and (min-width: 769px) {
  #recruit-page .text-side-br-br {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #recruit-page .text-side-pc {
    display: none;
  }
}

#recruit-page .recruit-text-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 125px;
  padding-bottom: 179px;
  position: relative;
  top: -245px;
  border-left: 8px #359B87 solid;
  border-bottom: 8px #359B87 solid;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  #recruit-page .recruit-text-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub {
    top: -244px;
    border-left: 6px #359B87 solid;
    border-bottom: 10px #359B87 solid;
    padding-top: 32px;
    padding-bottom: 123px;
  }
}

#recruit-page .recruit-text-sub .recruit-message {
  padding-left: 127px;
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub .recruit-message {
    padding-left: 9px;
  }
}

#recruit-page .recruit-text-sub .recruit-message h5 {
  width: 474px;
  color: #359B87;
  padding-bottom: 46px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-sub .recruit-message h5 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub .recruit-message h5 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.5px;
    padding-bottom: 33px;
    width: auto;
    position: relative;
    z-index: 1;
  }
}

#recruit-page .recruit-text-sub .recruit-message h4 {
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 42px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-sub .recruit-message h4 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub .recruit-message h4 {
    padding-bottom: 32px;
  }
}

#recruit-page .recruit-text-sub .recruit-message p {
  width: 546px;
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-sub .recruit-message p {
    width: 400px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub .recruit-message p {
    width: 340px;
  }
}

#recruit-page .recruit-text-sub .message-img {
  background-color: #359B87;
  width: 555px;
  height: 350px;
  margin-left: 109px;
  margin-top: 10px;
  position: relative;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-sub .message-img {
    width: 345px;
    height: 217.5px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  #recruit-page .recruit-text-sub .message-img {
    margin-left: 170px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub .message-img {
    top: 63px;
    right: -24px;
    margin-left: 0;
    margin-top: 0;
  }
}

#recruit-page .recruit-text-sub .message-img::after {
  content: "";
  position: absolute;
  background-image: url(../img/recurit-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 555px;
  height: 350px;
  top: -40px;
  right: 40px;
}

@media screen and (max-width: 1400px) {
  #recruit-page .recruit-text-sub .message-img::after {
    width: 345px;
    height: 217.5px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .recruit-text-sub .message-img::after {
    top: -24px;
    right: 15px;
  }
}

#recruit-page .next-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F3F3F3;
  position: relative;
  top: -245px;
  margin-bottom: -245px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px rgba(31, 40, 51, 0.16) solid;
}

#recruit-page .next-btn .next-name {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #777777;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 484px) {
  #recruit-page .next-btn .next-name {
    font-size: 16px;
    line-height: 16px;
  }
}

#recruit-page .next-btn .next-name::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 12px;
  background-image: url(../img/arrow-gr.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 73%;
  top: 69px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 1023px) {
  #recruit-page .next-btn .next-name::after {
    left: 76%;
    top: 44px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .next-btn .next-name::after {
    left: 81%;
    top: 42px;
  }
}

#recruit-page .next-btn .next-name:hover {
  color: #1F2833;
}

#recruit-page .next-btn .next-name:hover::after {
  left: 76%;
  background-image: url(../img/arrow-b.png);
}

@media screen and (max-width: 1023px) {
  #recruit-page .next-btn .next-name:hover::after {
    left: 79%;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .next-btn .next-name:hover::after {
    left: 84%;
  }
}

#recruit-page .next-btn .next-company {
  position: relative;
  padding: 58px 180px 55px 209px;
}

@media screen and (max-width: 1023px) {
  #recruit-page .next-btn .next-company {
    padding: 30px 80px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .next-btn .next-company {
    padding: 40px 40px 38px 20px;
  }
}

#recruit-page .next-btn .next-company::before {
  content: "";
  position: absolute;
  /*絶対位置指定*/
  right: -88px;
  /*横位置の指定*/
  top: 25%;
  /*縦位置の指定*/
  background: rgba(31, 40, 51, 0.16);
  /*線の色指定*/
  width: 2px;
  /*線の幅指定*/
  height: 50%;
  /*線の高さ指定*/
}

@media screen and (max-width: 484px) {
  #recruit-page .next-btn .next-company::before {
    right: -28px;
    top: 11%;
    height: 80%;
  }
}

#recruit-page .next-btn .next-contact {
  padding: 58px 180px 55px 180px;
}

@media screen and (max-width: 1023px) {
  #recruit-page .next-btn .next-contact {
    padding: 30px 80px;
  }
}

@media screen and (max-width: 484px) {
  #recruit-page .next-btn .next-contact {
    padding: 40px 33px 38px 13px;
  }
}

#recruit-page .btn-bottom {
  background-color: #F3F3F3;
  height: 94px;
}

@media screen and (max-width: 484px) {
  #recruit-page .btn-bottom {
    height: 40px;
  }
}
/*# sourceMappingURL=recruit.css.map */