$main-color: #1F2833;
$sub-color: #777777;
$section-color: #359B87;

// 共通
html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: $main-color;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

// min-width
$breakpoint-up: (
  'xls': 'screen and (max-width: 376px)',
  'xxs': 'screen and (min-width: 485px)',
  'xs': 'screen and (min-width: 587px)',
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 761px)',
  'lg': 'screen and (min-width: 965px)',
  'xl': 'screen and (min-width: 1441px)',
  'xxl': 'screen and (min-width: 1024px)',
  ) !default;

// max-width
$breakpoint-down: (
  'xls': 'screen and (max-width: 374px)',
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 689px)',
  'md': 'screen and (max-width: 768px)',
  'm': 'screen and (max-width: 900px)',
  'lg': 'screen and (max-width: 1023px)',
  'xl': 'screen and (max-width: 1230px)',
  'xxl': 'screen and (max-width: 1400px)',
  ) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin font($size: 18px, $weight: 500, $color: $main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: 'Noto Sans JP',
    sans-serif;
}

h1 {
  @include font(44px, 400
);
}

h2 {
  @include font(30px, 600);
  font-family: 'Epilogue',
    sans-serif;
  opacity: 0.6;
}

h3 {
  @include font(52px, 700);
  letter-spacing: -4px;
  font-family: 'Epilogue',
    sans-serif;
}

h4 {
  @include font(20px, 700);
  font-family: 'Epilogue',
    sans-serif;
  line-height: 36px;
}

h5 {
  @include font(30px, 700);
  line-height: 52px;
}

p {
  @include font(20px, 500);
}

.container {
  margin: 0 auto;

  @include mq-down {
    width: 92%;
  }

  @include mq-down(xxs) {
    margin: 0;
  }

}

@mixin btn-a($width: 368px, $top: 80px) {
  width: $width;
  text-align: center;
  margin-top: $top;
}

@mixin btn-b($bg-color: #fff, $padding: 23px 40px, $h-gb-color: #333333, $h-color: #fff) {
  background-color: $bg-color;
  transition: .3s;
  padding: $padding;

  &:hover {
    background-color: $h-gb-color;
    color: $h-color;
    transition: .3s;
  }
}

@mixin img($url: url(), $bg-size: cover) {
  background-image: $url;
  background-size: $bg-size;
  background-repeat: no-repeat;
}

@mixin section-title($url: url(),
  $margin: 0 auto 80px auto,
  $title-position: center,
  $bg-position: center,
  $height: 200px) {
  background-image: $url;
  background-size: contain;
  background-position: $bg-position;
  background-repeat: no-repeat;
  margin: $margin;
  height: $height;
  display: flex;
  align-items: flex-end;
  justify-content: $title-position;
}

#works-fv {
  background-image: url(../img/works.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;

  @include mq-down(xl) {
    background-position: center;
  }

  @include mq-down(xxs) {
    background-image: url(../img/works-sp.jpg);
    height: 304px;
    margin-top: 56px;
    background-position: unset;
  }

  @include mq-down(xls) {
    background-size: contain;
  }

  .container {
    padding-left: 135px;
    padding-top: 228px;

    @include mq-down() {
      padding-left: 20px;
    }

    @include mq-down(xxs) {
      padding-left: 15px;
      padding-top: 128px;
    }

    h4 {
      color: $section-color;
      padding-top: 7px;

      @include mq-down(xxs) {
        font-size: 16px;
        line-height: 16px;
        padding-top: 0;
      }
    }

    h5 {
      letter-spacing: 1.5px;
      padding-bottom: 59px;

      @include mq-down(xxs) {
        font-size: 24px;
        padding-bottom: 0;
        line-height: 40px;
      }
    }
  }


}


#works-page {
  background-color: #F3F3F3;
  padding-bottom: 5px;

  @include mq-down(xxs) {
    background-color: #fff;
    padding-bottom: 66px;
  }

  .page-container {
    background-color: #fff;
    width: 90.3%;
    padding-top: 145px;
    padding-bottom: 80px;
    position: relative;
    top: -65px;

    @include mq-down(xxs) {
      top: -40px;
      width: 96.3%;
      padding-top: 116px;
      padding-bottom: 0;
    }

    .list {
      position: absolute;
      top: 51px;
      left: 63px;

      @include mq-down(xxs) {
        top: 18px;
        left: 14px;
      }

      .home {
        @include font(14px, 500, $main-color);
        font-family: 'Epilogue',
          sans-serif;
        letter-spacing: .02em;
        display: inline;
      }

      .next {
        @include font(14px, 500, $section-color);
        font-family: 'Epilogue',
          sans-serif;
        letter-spacing: -.02em;
        display: inline;
      }

      .arrow {
        display: inline-block;

        &::after {
          content: "";
          background: url(../img/arrow.png);
          background-size: cover;
          background-repeat: no-repeat;
          width: 8px;
          height: 10.7px;
          display: inline-block;
        }
      }
    }

    .scroll {
      position: absolute;
      top: 55px;
      right: 91px;
      @include font(14px, 500, $main-color);
      font-family: 'Epilogue',
        sans-serif;
      letter-spacing: .02em;
      display: inline;
      transition: all .3s;

      @include mq-down() {
        display: none;
      }

      &::after {
        content: "";
        background: url(../img/arrow-d.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 10.7px;
        height: 8px;
        display: inline-block;
        position: absolute;
        top: 2px;
        right: -23px;
        transition: all .3s;
      }

      &:hover {
        color: #777777;

        &::after {
          background: url(../img/arrow-d-g.png);
          top: 10px;
        }
      }
    }
  }

  .works-box {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, 555px);
    grid-auto-rows: 463px;
    grid-gap: 60px;
    justify-content: center;

    @include mq-down(xxl) {
      grid-template-columns: repeat(auto-fit, 300px);
      grid-auto-rows: 280px;
      grid-gap: 70px;
    }

    @include mq-down() {
      grid-template-columns: repeat(auto-fit, 250px);
      grid-auto-rows: 200px;
      grid-gap: 60px;
      width: 100%;
    }



    @include mq-down(xxs) {
      grid-template-columns: repeat(auto-fit, 160px);
      grid-auto-rows: 187px;
      grid-column-gap: 25px;
      grid-row-gap: 44px;
      margin-left: auto;
      margin-right: 0;
      width: 104%;

    }

    @include mq-down(xls) {
      grid-template-columns: repeat(auto-fit, 134px);
      grid-auto-rows: 170px;
      grid-row-gap: 0px;
    }

    .works-item {
      position: relative;

      .works-img {
        background-image: url(../img/works1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 555px;
        height: 345px;

        @include mq-down(xxl) {
          width: 300px;
          height: 187px;
        }

        @include mq-down() {
          width: 250px;
          height: 160px;
        }

        @include mq-down(xxs) {
          width: 160px;
          height: 99.5px;
        }

        @include mq-down(xls) {
          width: 134px;
          height: 91px;
        }
      }

      .works-icon {
        background-image: url(../img/icon-architecture.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 66px;
        height: 66px;
        position: absolute;
        top: -33px;
        left: 36px;

        @include mq-down(xxl) {
          width: 50px;
          height: 50px;
          top: -25px;
          left: 25px;
        }

        @include mq-down(xxs) {
          width: 40px;
          height: 40px;
          top: -20px;
          left: 8px;
        }

        @include mq-down(xls) {
          width: 30px;
          height: 30px;
          top: -15px;
          left: 8px;
        }
      }

      .works-date {
        padding-top: 22px;
        padding-left: 60px;
        @include font(16px, 700);
        font-family: 'Epilogue',
          sans-serif;

        @include mq-down(xxl) {
          font-size: 14px;
          padding-top: 10px;
          padding-left: 0;
        }

        @include mq-down(xxs) {
          font-size: 14px;
          line-height: 40px;
          padding-top: 0;
          padding-left: 0;
          font-weight: 500;
        }

        @include mq-down(xls) {
          font-size: 12px;
          line-height: 12px;
        }
      }

      .works-text {
        @include font(16px, 700);
        line-height: 28px;
        padding-top: 9px;
        padding-left: 60px;

        @include mq-down(xxl) {
          font-size: 15px;
          padding-top: 0;
          padding-left: 0;
          font-weight: 500;
        }

        @include mq-down() {
          font-size: 12px;
        }

        @include mq-down(xxs) {
          font-size: 14px;
          line-height: 24px;
          padding-top: 0;
          padding-left: 0;
          font-weight: 500;
          letter-spacing: 1.5px;
        }

        @include mq-down(xls) {
          font-size: 11px;
          line-height: 15px;
        }
      }

      .page {
        margin: 14px 61px 0 auto;

        @include mq-down(xxl) {
          margin: 0px 61px 0 auto;
        }

        @include mq-down(xxs) {
          display: none;
        }
      }
    }

    .works-item:nth-child(2) {
      .works-img {
        background-image: url(../img/works2.jpg);
      }
    }

    .works-item:nth-child(3) {
      .works-img {
        background-image: url(../img/works3.jpg);
      }

      @include mq-down(xxs) {
        .works-text {
          width: 155px;
        }
      }

      @include mq-down(xls) {
        .works-text {
          width: 134px;
        }
      }
    }

    .works-item:nth-child(4) {
      .works-img {
        background-image: url(../img/works4.jpg);
      }

      .works-icon {
        background-image: url(../img/icon-civil.png);
      }
    }

    .works-item:nth-child(5) {
      .works-img {
        background-image: url(../img/works5.jpg);
      }
    }

    .works-item:nth-child(6) {
      .works-img {
        background-image: url(../img/works6.jpg);
      }
    }

    .works-item:nth-child(7) {
      .works-img {
        background-image: url(../img/works7.jpg);
      }

      .works-icon2 {
        background-image: url(../img/icon-design.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 66px;
        height: 66px;
        position: absolute;
        top: -33px;
        left: 102px;

        @include mq-down(xxl) {
          width: 50px;
          height: 50px;
          top: -25px;
          left: 75px;
        }

        @include mq-down(xxs) {
          width: 40px;
          height: 40px;
          top: -20px;
          left: 48px;
        }

        @include mq-down(xls) {
          width: 30px;
          height: 30px;
          top: -15px;
          left: 38px;
        }
      }
    }

    .works-item:nth-child(8) {
      .works-img {
        background-image: url(../img/works8.jpg);
      }

      .works-icon {
        background-image: url(../img/icon-civil.png);
      }
    }
  }

  .page-next-works {
    display: flex;
    width: 9%;
    margin: 80px auto 0;

    @include mq-up(xl) {
      width: 3%
    }

    @include mq-down(xl) {
      width: 14%
    }

    @include mq-down() {
      width: 19%
    }

    @include mq-down(xs) {
      width: 22%
    }

    @include mq-down(xxs) {
      margin: 56px auto 0;
      width: 25%
    }

    @include mq-down(xls) {
      margin: 56px auto 0;
      width: 34%
    }

    li {
      @include font(20px, 700, #777777);
      font-family: 'Epilogue',
        sans-serif;
      position: relative;
      margin-right: 46px;
      background-color: #fff;
      transition: .3s;

      &::after {
        content: "";
        position: absolute;
        top: -15px;
        left: -17px;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        border: 3px $section-color solid;
        margin-right: 15px;
      }

      &:nth-child(1) {
        color: #fff;
        z-index: 1;

        &::after {
          background-color: $section-color;
          z-index: -1;
        }
      }

      &:nth-child(2) {
        &:hover {
          color: #fff;
          z-index: 1;

          &::after {
            background-color: #5DAF9F;
            z-index: -1;
          }
        }
      }

      &:nth-child(3) {
        &:hover {
          color: #fff;
          z-index: 1;

          &::after {
            background-color: #5DAF9F;
            z-index: -1;
          }
        }
      }

      &:nth-child(4) {
        &::before {
          content: "";
          background: url(../img/arrow-num.png);
          position: absolute;
          top: 0px;
          left: 2px;
          width: 10px;
          height: 13.4px;
          transition: .3s;
        }

        &:hover {

          &::after {
            background-color: #5DAF9F;
          }

          &::before {
            background: url(../img/arrow-num-w.png);
            z-index: 1;
          }
        }
      }

    }
  }
}
