html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  color: #1F2833;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  opacity: 0.6;
}

h3 {
  font-size: 52px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: -4px;
  font-family: 'Epilogue', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 52px;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .container {
    width: 92%;
  }
}

#works-fv {
  background-image: url(../img/works.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 100px;
}

#works-fv .container {
  padding-left: 135px;
  padding-top: 228px;
}

#works-fv .container h4 {
  color: #359B87;
  padding-top: 7px;
}

#works-fv .container h5 {
  letter-spacing: 1.5px;
  padding-bottom: 59px;
}

#works-page {
  background-color: #E5E5E5;
  padding-bottom: 5px;
}

#works-page .page-container {
  background-color: #fff;
  width: 90.3%;
  padding-top: 145px;
  padding-bottom: 80px;
  position: relative;
  top: -65px;
}

#works-page .works-box {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (555px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 555px);
  grid-auto-rows: 463px;
  grid-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#works-page .works-box .works-item {
  position: relative;
}

#works-page .works-box .works-item .works-img {
  background-image: url(../img/works1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 555px;
  height: 345px;
}

#works-page .works-box .works-item .works-icon {
  background-image: url(../img/icon-architecture.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: absolute;
  top: -33px;
  left: 36px;
}

#works-page .works-box .works-item .works-date {
  padding-top: 22px;
  padding-left: 60px;
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Epilogue', sans-serif;
}

#works-page .works-box .works-item .works-text {
  font-size: 16px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  padding-top: 9px;
  padding-left: 60px;
}

#works-page .works-box .works-item .page {
  margin: 14px 61px 0 auto;
}

#works-page .works-box .works-item:nth-child(2) .works-img {
  background-image: url(../img/works2.jpg);
}

#works-page .works-box .works-item:nth-child(3) .works-img {
  background-image: url(../img/works3.jpg);
}

#works-page .works-box .works-item:nth-child(4) .works-img {
  background-image: url(../img/works4.jpg);
}

#works-page .works-box .works-item:nth-child(4) .works-icon {
  background-image: url(../img/icon-civil.png);
}

#works-page .works-box .works-item:nth-child(5) .works-img {
  background-image: url(../img/works5.jpg);
}

#works-page .works-box .works-item:nth-child(6) .works-img {
  background-image: url(../img/works6.jpg);
}

#works-page .works-box .works-item:nth-child(7) .works-img {
  background-image: url(../img/works7.jpg);
}

#works-page .works-box .works-item:nth-child(7) .works-icon2 {
  background-image: url(../img/icon-design.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 66px;
  height: 66px;
  position: absolute;
  top: -33px;
  left: 108px;
}

#works-page .works-box .works-item:nth-child(8) .works-img {
  background-image: url(../img/works8.jpg);
}

#works-page .works-box .works-item:nth-child(8) .works-icon {
  background-image: url(../img/icon-civil.png);
}

#contact {
  background-color: #359B87;
  height: 540px;
  position: relative;
}

#contact .container {
  background-color: #fff;
  width: 1000px;
  height: 360px;
  border-radius: 8px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .container .contact-text {
  padding-top: 88px;
  padding-left: 143px;
}

#contact .container .contact-text h4 {
  color: #359B87;
  text-align: center;
  line-height: 20px;
  margin-bottom: 11px;
  padding-right: 6px;
}

#contact .container .contact-text h5 {
  font-size: 30px;
  font-weight: 700;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
  padding-right: 10px;
}

#contact .container .contact-text p {
  font-size: 16px;
  font-weight: 500;
  color: #1F2833;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  letter-spacing: 1.5px;
}

#contact .container .call-number {
  padding-top: 85px;
  padding-left: 134px;
}

#contact .container .call-number h3 {
  padding-left: 18px;
}

#contact .container .call-number p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1.5px;
  padding-bottom: 34px;
}

#contact .container .call-number .recruit-name {
  margin: 0 auto;
  border-radius: 40px;
  padding: 22px 120px;
}

#contact .container .call-number .recruit-name::after {
  top: 35px;
  left: 65%;
  margin-left: 50px;
}

#contact .container .call-number .recruit-name:hover::after {
  left: 68%;
}

footer {
  background-color: #1F2833;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 28px;
  font-family: 'Epilogue', sans-serif;
}
/*# sourceMappingURL=works.css.map */