$main-color: #24296c;

// 共通
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: josefin-sans, sans-serif;
}

main {
  color: $main-color;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

// min-width
$breakpoint-up: ('xls': 'screen and (max-width: 376px)',
  'xxs': 'screen and (min-width: 485px)',
  'xs': 'screen and (min-width: 587px)',
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 769px)',
  'lg': 'screen and (min-width: 965px)',
  'xl': 'screen and (min-width: 1441px)',
  'xxl': 'screen and (min-width: 1332px)',
) !default;

// max-width
$breakpoint-down: ('xls': 'screen and (max-width: 374px)',
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 689px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1030px)',
  'xl': 'screen and (max-width: 1240px)',
  'xxl': 'screen and (max-width: 1331px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin font($size: 18px, $weight: 400, $color: $main-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  @include font(120px);
}

h2 {
  @include font(30px, 300);
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px #13174f solid;
  line-height: 0;
  margin: 50px auto 70px;
  padding-bottom: 15px;

  span {
    padding: 10px;
  }

  @include mq-down() {
    margin: 20px auto 40px;
    font-size: 24px;
  }
}

h3 {
  @include font(36px);
  line-height: 54px;
}

h4 {
  @include font(20px, 400, #b61c61);
  line-height: 36px
}

h5 {
  @include font(24px);
  font-family: 'Oswald', sans-serif;
}

p {
  @include font(20px);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;

  @include mq-down {
    width: 92%;
  }
}


@mixin btn-a($width:368px, $top:80px) {
  width: $width;
  text-align: center;
  margin-top: $top;
}

@mixin btn-b($bg-color:#fff, $padding:23px 40px, $h-gb-color:#333333, $h-color:#fff) {
  background-color: $bg-color;
  transition: .3s;
  padding: $padding;

  &:hover {
    background-color: $h-gb-color;
    color: $h-color;
    transition: .3s;
  }
}

@mixin img($url: url(), $bg-size: cover) {
  background-image: $url;
  background-size: $bg-size;
  background-repeat: no-repeat;
}

@mixin section-title($url: url(),
  $margin: 0 auto 80px auto,
  $title-position: center,
  $bg-position: center,
  $height: 200px) {
  background-image: $url;
  background-size: contain;
  background-position: $bg-position;
  background-repeat: no-repeat;
  margin: $margin;
  height: $height;
  display: flex;
  align-items: flex-end;
  justify-content: $title-position;
}


.btn {
  padding: 15px 30px;
  width: fit-content;
  //border: 1px solid #7A7A7A;
  border-radius: 5px;
  margin: 60px auto 0;
  transition: .3s;
  @include font(24px, 300);
  font-family: 'Josefin Sans',
    sans-serif;
  background-color: rgb(250, 227, 227);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #FFEFEF 10px, #FFEFEF 12px);

  @include mq-down() {
    padding: 10px 24px;
    margin: 40px auto 0;
    font-size: 20px;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgb(246, 236, 236) 8px, rgb(246, 236, 236) 9px);
  }

  &:hover {
    opacity: 0.7;
    transition: .3s;
    color: black;
  }
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//各セクションの上下微調整
section {
  padding: 70px 0 20px;

  @include mq-down() {
    padding: 30px 0;
  }
}

#header-menu {
  padding: 30px;
  position: fixed;
  top: -100px;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 4px grey;

  @include mq-down() {
    display: none;
  }

  .inner {
    margin: 0 auto;
  }

  .header-menu {
    display: flex;

    li {
      padding-left: 20px;

      a {
        @include font(24px, 500);
        font-family: 'Josefin Sans',
          sans-serif;
      }
    }
  }
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 1em;
  top: 1em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;

  @include mq-up() {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 45px;
  height: 2px;
  left: 6px;
  background: $main-color;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 6px;
}

.hamburger span:nth-child(2) {
  top: 22px;
}

.hamburger span:nth-child(3) {
  top: 38px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: $main-color;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background: $main-color;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: $main-color;
  background-color: rgb(250, 227, 227);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgb(246, 236, 236) 8px, rgb(246, 236, 236) 9px);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #fff6f6;
}

nav.globalMenuSp ul li a {
  display: block;
  color: $main-color;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
  font-family: 'Josefin Sans',
    sans-serif;
}

#header-menu.DownMove {
  animation: DownAnime 0.7s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#header-menu.UpMove {
  animation: UpAnime 0.7s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes fadezoom {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
    /* 拡大率 */
  }
}

.add-animation {
  animation: fadezoom 16s 0s forwards;
}

#fv {
  margin: 0 auto;
  padding: 0;

  .fv1 {
    z-index: 10;

    @include mq-down() {
      display: none;
    }

    .fv-text {
      line-height: 100vh;
      text-align: center;
      @include font(24px, 400);
    }

    .fv1-header {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      padding: 40px;

      li {
        padding-left: 20px;

        a {
          @include font(24px, 500);
          font-family: 'Josefin Sans',
            sans-serif;
        }
      }
    }
  }

  .fv2 {
    height: 100vh;

    @include mq-down() {
      height: 50vh;
    }

    //position: relative;
    overflow: hidden;

    //z-index: -1;
    .fv-img {
      width: 100%;
      height: 100vh;

      @include mq-down() {
        height: 50vh;
      }

      //position: fixed;
      //transform: translate3d(0, 0, 0);
    }

    .fv-1 {
      background: url(../../asset/img/main1.jpg);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    .fv-2 {
      background: url(../../asset/img/main2.jpg);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    .fv-3 {
      background: url(../../asset/img/main3.jpg);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }

    .fv-4 {
      background: url(../../asset/img/main4.jpg);
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
  }
}

#news {
  background-color: #FFF;

  .news-box {
    .news-item {
      margin: 30px 0;
      border-bottom: 1px dotted #aaa;
      padding-bottom: 25px;
      max-width: 800px;

      @include mq-down() {
        margin: 15px 0;
        padding-bottom: 10px;
      }

      .news-text {
        padding-left: 20px;

        @include mq-down() {
          padding-left: 10px;
        }

        .date {
          @include font(14px, 400, #333333);
          margin-bottom: 10px;

          @include mq-down() {
            font-size: 12px;
            margin-bottom: 5px;
          }
        }

        .news-title {
          @include font(18px, 400);
          margin-bottom: 10px;

          @include mq-down() {
            font-size: 16px;
            margin-bottom: 5px;
          }
        }
      }

    }
  }
}

#menu {
  background-color: #FFF;

  img {
    width: 80%;
    margin: 0 auto;

    @include mq-down() {
      width: 100%;
    }
  }


}

#about {
  background-color: #fff;

  .feature-img {
    background: url(../../asset/img/feature.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    margin: 0 auto;

    @include mq-down(xxs) {
      height: 200px;
    }
  }

  h4 {
    margin: 30px 0;

    .about-sp {
      display: none;
    }

    @include mq-down(xxs) {
      font-size: 16px;
      line-height: 24px;
      margin: 20px 0;
      letter-spacing: 0.04rem;

      .about-sp {
        display: inline;
      }
    }
  }

  p {
    @include font(16px, 400);
    line-height: 30px;

    @include mq-down(xxs) {
      font-size: 14px;
      line-height: 24px;
    }
  }

}

#access {
  background-color: #fff;

  .contact-box {
    display: flex;

    @include mq-down() {
      flex-direction: column;
      margin: 0 auto;
    }

    iframe {
      width: 50%;

      @include mq-down() {
        width: 100%;
      }
    }

    .contact-text {
      margin-left: 30px;

      @include mq-down() {
        margin-left: 0;
        margin-top: 10px;
      }

      p {
        padding: 10px 0;

        @include mq-down(xxs) {
          font-size: 16px;
          padding: 8px 0;
        }
      }
    }
  }
}

footer {
  padding: 50px 0 10px;
  background-color: rgb(250, 227, 227);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #FFEFEF 10px, #FFEFEF 12px);

  @include mq-down() {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgb(246, 236, 236) 8px, rgb(246, 236, 236) 9px);
  }

  .footer-menu {
    display: flex;
    margin-bottom: 50px;
    padding: 40px;

    @include mq-down() {
      flex-direction: column;
    }

    @include mq-down(xxs) {
      margin-bottom: 20px;
      padding: 0;
    }

    li {
      padding-left: 20px;

      @include mq-down() {
        padding-bottom: 10px
      }

      a {
        @include font(24px, 500);
        font-family: 'Josefin Sans',
          sans-serif;

        @include mq-down(xxs) {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  p {
    font-size: 12px;
    text-align: center;
  }
}
