@charset "UTF-8";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: josefin-sans, sans-serif;
}

main {
  color: #24296c;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

h1 {
  font-size: 120px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 1px #13174f solid;
  line-height: 0;
  margin: 50px auto 70px;
  padding-bottom: 15px;
}

h2 span {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  h2 {
    margin: 20px auto 40px;
    font-size: 24px;
  }
}

h3 {
  font-size: 36px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 54px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  color: #b61c61;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 36px;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 92%;
  }
}

.btn {
  padding: 15px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  margin: 60px auto 0;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 24px;
  font-weight: 300;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fae3e3;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #FFEFEF 10px, #FFEFEF 12px);
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 24px;
    margin: 40px auto 0;
    font-size: 20px;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #f6ecec 8px, #f6ecec 9px);
  }
}

.btn:hover {
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
  color: black;
}

.fadeIn {
  -webkit-animation-name: fadeInAnime;
          animation-name: fadeInAnime;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section {
  padding: 70px 0 20px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px 0;
  }
}

#header-menu {
  padding: 30px;
  position: fixed;
  top: -100px;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 0 4px grey;
          box-shadow: 0 0 4px grey;
}

@media screen and (max-width: 768px) {
  #header-menu {
    display: none;
  }
}

#header-menu .inner {
  margin: 0 auto;
}

#header-menu .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header-menu .header-menu li {
  padding-left: 20px;
}

#header-menu .header-menu li a {
  font-size: 24px;
  font-weight: 500;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

/*　ハンバーガーボタン　*/
.hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 1em;
  top: 1em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 45px;
  height: 2px;
  left: 6px;
  background: #24296c;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 6px;
}

.hamburger span:nth-child(2) {
  top: 22px;
}

.hamburger span:nth-child(3) {
  top: 38px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #24296c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background: #24296c;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #24296c;
  background-color: #fae3e3;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #f6ecec 8px, #f6ecec 9px);
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: .4s all;
  transition: .4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #fff6f6;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #24296c;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
  visibility: visible;
}

#header-menu.DownMove {
  -webkit-animation: DownAnime 0.7s forwards;
          animation: DownAnime 0.7s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes DownAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#header-menu.UpMove {
  -webkit-animation: UpAnime 0.7s forwards;
          animation: UpAnime 0.7s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes UpAnime {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes fadezoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* 拡大率 */
  }
}

@keyframes fadezoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    /* 拡大率 */
  }
}

.add-animation {
  -webkit-animation: fadezoom 16s 0s forwards;
          animation: fadezoom 16s 0s forwards;
}

#fv {
  margin: 0 auto;
  padding: 0;
}

#fv .fv1 {
  z-index: 10;
}

@media screen and (max-width: 768px) {
  #fv .fv1 {
    display: none;
  }
}

#fv .fv1 .fv-text {
  line-height: 100vh;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
}

#fv .fv1 .fv1-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

#fv .fv1 .fv1-header li {
  padding-left: 20px;
}

#fv .fv1 .fv1-header li a {
  font-size: 24px;
  font-weight: 500;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

#fv .fv2 {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #fv .fv2 {
    height: 50vh;
  }
}

#fv .fv2 .fv-img {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  #fv .fv2 .fv-img {
    height: 50vh;
  }
}

#fv .fv2 .fv-1 {
  background: url(../../asset/img/main1.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#fv .fv2 .fv-2 {
  background: url(../../asset/img/main2.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#fv .fv2 .fv-3 {
  background: url(../../asset/img/main3.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#fv .fv2 .fv-4 {
  background: url(../../asset/img/main4.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#news {
  background-color: #FFF;
}

#news .news-box .news-item {
  margin: 30px 0;
  border-bottom: 1px dotted #aaa;
  padding-bottom: 25px;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  #news .news-box .news-item {
    margin: 15px 0;
    padding-bottom: 10px;
  }
}

#news .news-box .news-item .news-text {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  #news .news-box .news-item .news-text {
    padding-left: 10px;
  }
}

#news .news-box .news-item .news-text .date {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #news .news-box .news-item .news-text .date {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

#news .news-box .news-item .news-text .news-title {
  font-size: 18px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #news .news-box .news-item .news-text .news-title {
    font-size: 16px;
    margin-bottom: 5px;
  }
}

#menu {
  background-color: #FFF;
}

#menu img {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #menu img {
    width: 100%;
  }
}

#about {
  background-color: #fff;
}

#about .feature-img {
  background: url(../../asset/img/feature.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 484px) {
  #about .feature-img {
    height: 200px;
  }
}

#about h4 {
  margin: 30px 0;
}

#about h4 .about-sp {
  display: none;
}

@media screen and (max-width: 484px) {
  #about h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0;
    letter-spacing: 0.04rem;
  }
  #about h4 .about-sp {
    display: inline;
  }
}

#about p {
  font-size: 16px;
  font-weight: 400;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 30px;
}

@media screen and (max-width: 484px) {
  #about p {
    font-size: 14px;
    line-height: 24px;
  }
}

#access {
  background-color: #fff;
}

#access .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  #access .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

#access .contact-box iframe {
  width: 50%;
}

@media screen and (max-width: 768px) {
  #access .contact-box iframe {
    width: 100%;
  }
}

#access .contact-box .contact-text {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  #access .contact-box .contact-text {
    margin-left: 0;
    margin-top: 10px;
  }
}

#access .contact-box .contact-text p {
  padding: 10px 0;
}

@media screen and (max-width: 484px) {
  #access .contact-box .contact-text p {
    font-size: 16px;
    padding: 8px 0;
  }
}

footer {
  padding: 50px 0 10px;
  background-color: #fae3e3;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #FFEFEF 10px, #FFEFEF 12px);
}

@media screen and (max-width: 768px) {
  footer {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, #f6ecec 8px, #f6ecec 9px);
  }
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 484px) {
  footer .footer-menu {
    margin-bottom: 20px;
    padding: 0;
  }
}

footer .footer-menu li {
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  footer .footer-menu li {
    padding-bottom: 10px;
  }
}

footer .footer-menu li a {
  font-size: 24px;
  font-weight: 500;
  color: #24296c;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 484px) {
  footer .footer-menu li a {
    font-size: 20px;
    font-weight: 300;
  }
}

footer p {
  font-size: 12px;
  text-align: center;
}
/*# sourceMappingURL=ramen.css.map */